extend views/index
block config
	//- option available juve, f4u, fiorentina
	- var site 				= "fiorentina"
	- var lang 				= "en"

	include config


block content
	//include views/header
	//include views/nav
	//include include/singleCTA
	//include include/heroImage
	//include include/coupon
	//include include/linkList
	//include include/cowntDown
	//include include/2prod
	//include include/2banner_a
	//include include/3prod

	include include/_footerLink

	//include _3article_a