extend views/index
block config
	include config
	- var lang = "en"

block content
	include views/header
	include views/nav
	include include/coupon
	include include/heroImage
	include include/singleCTA
	include include/linkList
	include include/cowntDown
	include include/3prod

	//if site == "f4u"
		include _ourBrand
	//if site == "juve"
		include _2banner_a
	//if site == "fiorentina"
		include _2banner_a

	//include _2prod_b
	//include _2banner_a
	//include _3article_a
	//include _footerLink