extends ../views/3prod

block 3prod_a
	include ../config
	- var template 						= "3prod_a"

	if lang == "en"
		- var ctaCopy 					= "BUY NOW"
		if prod == "01"
			- var linkCTA 				= "http://www.laziostylestore.com/en/lazio-presentation-sky-blue-t-shirt-2015-16.html"
			- var imgProd				= "https://lazio-dunebuggysrl.netdna-ssl.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz15081.jpg"
			- var titleProd				= "Lazio Presentation Sky Blue T-Shirt 2015/16"
			- var priceProd 			= "34.00"
			- var oldPriceProd			= false

		if prod == "02"
			- var linkCTA 				= "http://www.laziostylestore.com/en/lazio-presentation-tobacco-t-shirt-2015-16.html"
			- var imgProd				= "https://lazio-dunebuggysrl.netdna-ssl.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz15082.jpg"
			- var titleProd				= "Lazio Presentation Tobacco T-Shirt 2015/16"
			- var priceProd 			= "34.00"
			- var oldPriceProd			= false

		if prod == "03"
			- var linkCTA 				= "http://www.laziostylestore.com/en/lazio-presentation-blue-track-top-2015-16.html"
			- var imgProd				= "https://lazio-dunebuggysrl.netdna-ssl.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz15143.jpg"
			- var titleProd				= "Lazio Presentation Blue Track Top 2015/16"
			- var priceProd 			= "72.00"
			- var oldPriceProd			= false

	if lang == "it"
		- var ctaCopy 					= "Acquista"
		if prod == "01"
			- var linkCTA 				= "http://www.laziostylestore.com/it/lazio-t-shirt-ufficiale-celeste-2015-16.html"
			- var imgProd				= "https://lazio-dunebuggysrl.netdna-ssl.com/media/catalog/product/cache/1/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz15081.jpg"
			- var titleProd				= "Lazio T-Shirt Ufficiale Celeste 2015/16"
			- var priceProd 			= "34,00"
			- var oldPriceProd			= false

		if prod == "02"
			- var linkCTA 				= "http://www.laziostylestore.com/it/lazio-t-shirt-ufficiale-tabacco-2015-16.html"
			- var imgProd				= "https://lazio-dunebuggysrl.netdna-ssl.com/media/catalog/product/cache/1/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz15082.jpg"
			- var titleProd				= "Lazio T-Shirt Ufficiale Tabacco 2015/16"
			- var priceProd 			= "34,00"
			- var oldPriceProd			= false

		if prod == "03"
			- var linkCTA 				= "http://www.laziostylestore.com/it/lazio-track-top-ufficiale-blu-2015-16.html"
			- var imgProd				= "https://lazio-dunebuggysrl.netdna-ssl.com/media/catalog/product/cache/1/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz15143.jpg"
			- var titleProd				= "Lazio Track Top Ufficiale Blu 2015/16"
			- var priceProd 			= "72,00"
			- var oldPriceProd			= false

	//- customize button variable optional
	block ctaCustom
		//- 01 = simple CTA (buy now or Acquista)
		//- 02 = CTA with price (buy at {priceProd} or Acquista a {priceProd})
		- var buttonType 	= "01"
		- var bgColor		= "#b5ff00"
		- var txtColor		= "#33333d"
		//- can be 160 max
		- var width			= "160px"
		- var height 		= "36px"
		- var arcsize 		= "5%"
		- var radiusSize 	= "3px"
		- var lineheight 	= "30px"
		- var align 		= "left"
		- var fontSize		= "font-size: 14px; line-height: 11px;"