
<!-- //////////////////////////////////////////////////////////////////-->
<!-- 2 column-->
<!-- //////////////////////////////////////////////////////////////////-->
<tr>
  <td align="left" class="cols-wrapper">
    <!-- [if mso]><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td width="50%" valign="top"><![endif]-->
    <table width="264" border="0" cellpadding="0" cellspacing="0" align="left" class="force-row">
      <tr>
        <td valign="top" style="width:100%" class="col">
          <!-- //////////////////////////////////////////////////////////////////-->
          <!-- 1/2 column-->
          <!-- //////////////////////////////////////////////////////////////////--><a href="undefined?ga_campaign=undefinedundefinedundefined" target="_blank"><img src="undefined" border="0" alt="undefined" width="100%" hspace="0" vspace="0" style="max-width:100%;" class="image"/></a><br/><br/>
          <div style="undefined" class="titleProd"><strong></strong></div>
          <div style="undefined" class="subtitle"> €</div><br/><br/>
        </td>
      </tr>
    </table>
    <!-- [if mso]></td><td width="50%" valign="top"><![endif]-->
    <table width="264" border="0" cellpadding="0" cellspacing="0" align="right" class="force-row">
      <tr>
        <td valign="top" style="width:100%" class="col">
          <!-- //////////////////////////////////////////////////////////////////-->
          <!-- 2/2 column-->
          <!-- //////////////////////////////////////////////////////////////////--><a href="undefined?ga_campaign=undefinedundefinedundefined" target="_blank"><img src="undefined" border="0" alt="undefined" width="100%" hspace="0" vspace="0" style="max-width:100%;" class="image"/></a><br/><br/>
          <div style="undefined" class="titleProd"><strong></strong></div>
          <div style="undefined" class="subtitle"> €</div><br/><br/>
        </td>
      </tr>
    </table>
    <!-- [if mso]></td></tr></table><![endif]-->
  </td>
</tr>