extends ../view/columns/threeColumn
block info

block ctaCustom
	- var bgColor		= "#b5ff00"
	- var txtColor		= "#33333d"
	- var width			= "120px"
	- var height 		= "36px"
	- var arcsize 		= "5%"
	- var radiusSize 	= "2px"
	- var lineheight 	= "30px"
	- var align 		= "left"
	- var fontSize		= "font-size: 14px; line-height: 11px;"

block contentCol1_3
	block prodTemplate01
		- var prod = "01"
		block 3prod_a
		include ../view/prod/prod.jade

block contentCol2_3
	block prodTemplate02
		- var prod = "02"
		block 3prod_a
		include ../view/prod/prod.jade

block contentCol3_3
	block prodTemplate03
		- var prod = "03"
		block 3prod_a
		include ../view/prod/prod.jade