
<!-- option available en, it-->
<!-- option available juve, f4u-->
<!-- used for tracking code-->
<!-- Universal Copy-->

<!-- Preheader template-->
<!-- header template-->
<!-- nav template-->
<!-- font-->
<append>
</append>
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" width="20px"></td>
    <td align="left" valign="middle" height="40px"><small style="font-size: 10px; line-height: 14px; font-family: Helvetica, Arial, sans-serif; color:#5a5a55;">Acquista la nuova maglia home 2015/16</small></td>
    <td align="right" valign="middle" height="40px"><small style="font-size: 10px; line-height: 14px; font-family: Helvetica, Arial, sans-serif; color:#5a5a55;">E-mail non visualizza correttamente? 
        <nobr><a href="http://www.solopx.com?ga_campaign=27-3it_header&amp;ga_medium=DEM&amp;ga_source=NL" style="text-decoration: none; color:#fcc511;" target="_blank"><span style="color:#ffffff; text-decoration: none; color:#fcc511;">view online version</span></a></nobr></small></td>
    <td align="left" width="20px"></td>
  </tr>
</table>