extends ../../views/2prod

block 2prod_a
	- var template 						= "2prod_a"
	- var trakingSource = "xxx2Prod"
	if lang == "en"
		- var ctaCopy 					= "BUY NOW"
		if prod == "01"
			- var linkCTA 				= "http://www.football4u.it/en/nike-magista-obra-fg-turquoise-blue.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/2/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15049.jpg"
			- var titleProd				= "Nike Magista Obra Fg Turquoise Blue"
			- var priceProd 			= "247.50"
			- var oldPriceProd			= "275.00"
			- var idProd				= "cs15049"

		if prod == "02"
			- var linkCTA 				= "http://www.football4u.it/en/adidas-x-15-2-fg-ag-solar-yellow.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/2/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15315.jpg"
			- var titleProd				= "Adidas X 15.2 Fg/Ag Solar Yellow"
			- var priceProd 			= "99.00"
			- var oldPriceProd			= "110.00"
			- var idProd				= "cs15315"

	if lang == "it"
		- var ctaCopy 					= "Acquista"
		if prod == "01"
			- var linkCTA 				= "http://www.football4u.it/it/nike-magista-obra-fg-turquoise-blue.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15049.jpg"
			- var titleProd				= "Nike Magista Obra Fg Turquoise Blue"
			- var priceProd 			= "247,50"
			- var oldPriceProd			= "275,00"
			- var idProd				= "cs15049"

		if prod == "02"
			- var linkCTA 				= "http://www.football4u.it/it/adidas-x-15-2-fg-ag-solar-yellow.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15315.jpg"
			- var titleProd				= "Adidas X 15.2 Fg/Ag Solar Yellow"
			- var priceProd 			= "99,00"
			- var oldPriceProd			= "110,00"
			- var idProd				= "cs15315"

	//- customize button variable optional
	block ctaOptions
		//- ////////////////////////////////////////////
		//-
		//-		01 = simple CTA (buy now or Acquista)
		//-		02 = CTA with price (buy at {priceProd} or Acquista a {priceProd})
		//-
		//- ////////////////////////////////////////////
		- var buttonType 	= "01"
		//- can be 160 max
		- var width			= "160px"
		- var height 		= "40px"
		- var arcsize 		= "5%"
		- var radiusSize 	= "3px"
		- var lineheight 	= "40px"
		- var align 		= "left"
		- var fontSize		= "font-size: 14px; line-height: 11px;"