block config
	include config

	block editor
		- var ctaLinetraking = "ctaLineTraking01"
		//- available Link01
		- var ctaLineLink01 				= "www.solopx.com/01/"
		- var ctaLineCopy01 				= "BUY NOW"

		//- available also Link02
		- var ctaLineLink02 				= "www.solopx.com/02/"
		- var ctaLineCopy02 				= "DETAILS"

		//- available also Link03
			- var ctaLineLink03 				= "www.solopx.com"
			- var ctaLineCopy03 				= "SEE MORE"

		//- available also Link04
			- var ctaLineLink04 				= "www.solopx.com"
			- var ctaLineCopy04 				= "SEE MORE"

		//- cta color
		- var ctaLineColorCta 				= colorPrimaryDarkD
		- var ctaLineBgColorCta 			= colorWhite
		- var ctaLineFontSize 				= font14
		- var ctaLineFontWeight 			= normal
		- var ctaLineFontFamily 			= serifItalic

		- var ctaLineCtaBg 				= colorPrimary
		- var ctaLineHeight 				= 80
		//- spacer
		- var ctaLineDsitance 				= 10

	//- creeate traking
	//- link, trakingInit, data, lang, templateName, trakingEnd
	if ctaLineLink01
		- var ctaLineLink01 = ctaLineLink01.concat(trakingInit, data, "/", lang, "/", ctaLinetraking, "/", trakingEnd)
	if ctaLineLink02
		- var ctaLineLink02 = ctaLineLink02.concat(trakingInit, data, "/", lang, "/", ctaLinetraking, "/", trakingEnd)
	if ctaLineLink03
		- var ctaLineLink03 = ctaLineLink03.concat(trakingInit, data, "/", lang, "/", ctaLinetraking, "/", trakingEnd)
	if ctaLineLink04
		- var ctaLineLink04 = ctaLineLink04.concat(trakingInit, data, "/", lang, "/", ctaLinetraking, "/", trakingEnd)

block template
	tr
		td(align="center" bgcolor="#{ctaLineCtaBg}" style="background-color: #{ctaLineCtaBg};")
			table(cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse")
				tr
					if ctaLineLink01
						//-p= ctaLineLink0
						+CTA(ctaLineCopy01, ctaLineLink01, ctaLineColorCta, ctaLineBgColorCta,  ctaLineFontSize, ctaLineFontFamily, ctaLineFontWeight, 12,10,20, left)
					if ctaLineLink02
						+spacer (ctaLineDsitance, ctaLineHeight)
						+CTA(ctaLineCopy02, ctaLineLink02, ctaLineColorCta, ctaLineBgColorCta,  ctaLineFontSize, ctaLineFontFamily, ctaLineFontWeight, 12,10,20, right)
					if ctaLineLink03
						+spacer (ctaLineDsitance, ctaLineHeight)
						+CTA(ctaLineCopy03, ctaLineLink03, ctaLineColorCta, ctaLineBgColorCta,  ctaLineFontSize, ctaLineFontFamily, ctaLineFontWeight, 12,10,20, right)
					if ctaLineLink04
						+spacer (ctaLineDsitance, ctaLineHeight)
						+CTA(ctaLineCopy04, ctaLineLink04, ctaLineColorCta, ctaLineBgColorCta,  ctaLineFontSize, ctaLineFontFamily, ctaLineFontWeight, 12,10,20, right)


				// tr
					+CTA(ctaLineCopy01, ctaLineLink01, ctaLineColorCta, ctaLineBgColorCta,  font16, sans, 9,8,20, left)
					+spacer (15, 60)
					+CTA(ctaLineCopy02, ctaLineLink02, ctaLineColorCta, ctaLineBgColorCta,  font16, sans, 9,8,20, right)