block config
	- var heroImgLink = "www.solopx.com"
	- var heroImgName = "hero"
block template
	tr
		td(align="center" valign="top" class="mobile-hidden")
			a(href="#" target="_blank" style="outline: none; text-decoration: none; border: none; color: #ffffff; font: 12px Helvetica, Arial, Sans-Serif; ")
				img(src="../assets/images/#{heroImgName}_d.jpg" alt="" border="0" style="display: block; outline: none; text-decoration:none; color: #333333; font: bold 12px Helvetica, Arial, sans-serif;")
	<!--[if !mso]><!-->
	tr
		td(align="center" valign="top" style="font-size: 1px; line-height: 1px; padding:0;")
			.show(style="display:none; width:0px; max-height:0px; overflow:hidden;")
				table(cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;")
					tr
						td(align="center" valign="top")
							a(href="#" target="_blank" style="outline: none; text-decoration: none; border: none; color: #ffffff; font: 12px Helvetica, Arial, Sans-Serif;")
								img(src="../assets/images/#{heroImgName}_m.jpg" alt="" border="0" style="display: block; outline: none; text-decoration:none; color: #333333; font: bold 12px Helvetica, Arial, sans-serif;")
	<!--<![endif]-->
