extends template/3article_a

block infoContentArticleCol3

	include config
	- var template = "3prod_a"

	- var imgArt01 					= "http://placehold.it/600/334d67/ffffff&text=Art+01/3"
	- var imgArt02 					= "http://placehold.it/600/334d67/ffffff&text=Art+02/3"
	- var imgArt03 					= "http://placehold.it/600/334d67/ffffff&text=Art+02/3"

	if lang == "en"
		- var cta1 					= "Read more..."


		- var titleArticle01		= "Title Art01/3 en"
		- var linkArt01				= "linkArt01en"
		- var quoteArt01			= "I take the good old fashioned ground that the whale is a fish, and call upon holy Jonah to back me. This fundamental thing settled, the next point is, in what internal respect does the whale differ from other fish."


		- var titleArticle02		= "Title Art02/3 en"
		- var linkArt02				= "linkArt02en"
		- var quoteArt02			= "I take the good old fashioned ground that the whale is a fish, and call upon holy Jonah to back me. This fundamental thing settled, the next point is, in what internal respect does the whale differ from other fish."

		- var titleArticle03			= "Title Art03/3 en"
		- var linkArt03				= "linkArt03en"
		- var quoteArt03			= "I take the good old fashioned ground that the whale is a fish, and call upon holy Jonah to back me. This fundamental thing settled, the next point is, in what internal respect does the whale differ from other fish."


	if lang == "it"
		- var cta1 					= "di piu"

		- var titleArticle01		= "Title Art01/3 it"
		- var linkArt01				= "linkArt01it"
		- var quoteArt01			= "I take the good old fashioned ground that the whale is a fish, and call upon holy Jonah to back me. This fundamental thing settled, the next point is, in what internal respect does the whale differ from other fish."

		- var titleArticle02		= "Title Art02/3 it"
		- var linkArt02				= "linkArt02it"
		- var quoteArt02			= "I take the good old fashioned ground that the whale is a fish, and call upon holy Jonah to back me. This fundamental thing settled, the next point is, in what internal respect does the whale differ from other fish."

		- var titleArticle03		= "Title Art03/3 it"
		- var linkArt03				= "linkArt03it"
		- var quoteArt03			= "I take the good old fashioned ground that the whale is a fish, and call upon holy Jonah to back me. This fundamental thing settled, the next point is, in what internal respect does the whale differ from other fish."