extends template/3prod_a

block 3prod_a
	include config
	- var template 						= "3prod_a"
	if lang == "en"
		- var ctaCopy 						= "BUY NOW"
		if prod == "01"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-superfly-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15001.jpg"
			- var titleProd				= "NIKE mercurial superfly fg wolf grey/hyper punch"
			- var priceProd 			= "247,5"
			- var oldPriceProd			= "275,0"

		if prod == "02"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-vapor-x-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15002_2.jpg"
			- var titleProd				= "NIKE mercurial vapor x fg wolf grey/hyper punch"
			- var priceProd 			= "180,0"
			- var oldPriceProd			= "200,0"

		if prod == "03"
			- var linkCTA 				= "http://www.football4u.it/it/nike-hypervenom-phantom-ii-fg-wolf-grey-total-orange.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15011.jpg"
			- var titleProd				= "NIKE hypervenom phantom ii fg wolf grey/ total orange"
			- var priceProd 			= "247,5"
			- var oldPriceProd			= "275,0"
	else
		- var ctaCopy 				= "Acquista"
		if prod == "01"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-superfly-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15001.jpg"
			- var titleProd				= "NIKE mercurial superfly fg wolf grey/hyper punch"
			- var priceProd 			= "247,5"
			- var oldPriceProd			= "275,0"

		if prod == "02"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-vapor-x-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15002_2.jpg"
			- var titleProd				= "NIKE mercurial vapor x fg wolf grey/hyper punch"
			- var priceProd 			= "180,0"
			- var oldPriceProd			= "200,0"

		if prod == "03"
			- var linkCTA 				= "http://www.football4u.it/it/nike-hypervenom-phantom-ii-fg-wolf-grey-total-orange.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15011.jpg"
			- var titleProd				= "NIKE hypervenom phantom ii fg wolf grey/ total orange"
			- var priceProd 			= "247,5"
			- var oldPriceProd			= "275,0"

	// customize button variable optional
	block ctaCustom
		//- 01 = simple CTA (buy now or Acquista)
		//- 02 = CTA with price (buy at {priceProd} or Acquista a {priceProd})
		- var buttonType 	= "01"
		- var bgColor		= "#b5ff00"
		- var txtColor		= "#33333d"
		- var width			= "120px"
		- var height 		= "36px"
		- var arcsize 		= "5%"
		- var radiusSize 	= "2px"
		- var lineheight 	= "30px"
		- var align 		= "left"
		- var fontSize		= "font-size: 14px; line-height: 11px;"


//- var linkProd01 			= "http://www.football4u.it/it/nike-hypervenom-phatal-ii-fg-wolf-grey-total-orange.html"
//- var imgProd01				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15015.jpg"
//- var titleProd01			= "nike hypervenom phatal ii fg wolf grey/ total orange"
//- var priceProd01 			= "€ 108,00"
//- var oldPriceProd01		= "€ 120,00"

//- var linkProd02 			= "http://www.football4u.it/it/nike-hypervenom-x-proximo-tf-wolf-grey-total-orange.html"
//- var imgProd02				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15017.jpg"
//- var titleProd02			= "nike hypervenom x proximo tf wolf grey/total orange"
//- var priceProd02 			= "€ 135,00"
//- var oldPriceProd02		= "€ 150,00"

//- var linkProd03 			= "http://www.football4u.it/it/nike-tiempo-legacy-fg-wolf-grey-green-strike.html"
//- var imgProd03				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15028.jpg"
//- var titleProd03			= "nike tiempo legacy fg wolf grey/green strike"
//- var priceProd03 			= "€ 81,00"
//- var oldPriceProd03		= "€ 90,00"