extends template/footerLink
block info
	include config

	if lang == "en"
		- var footerLinksx = [{"footerCopy":"Unsubscribe", "footerURL":"#"},{"footerCopy":"Shipping", "footerURL":"#"},{"footerCopy":"Returns", "footerURL":"#"},{"footerCopy":"Privacy", "footerURL":"#"},{"footerCopy":"Contacts", "footerURL":"#"}]

	if lang == "it"
		- var footerLinksx = [{"footerCopy":"Unsubscribe", "footerURL":"#"},{"footerCopy":"Shipping", "footerURL":"#"},{"footerCopy":"Returns", "footerURL":"#"},{"footerCopy":"Privacy", "footerURL":"#"},{"footerCopy":"Contacts", "footerURL":"#"}]

	- var trakingSource 	= "_footer&ga_medium=DEM&ga_source=NL"