extends template/heroImg
block info
	include config
	if lang == "en"
		- var heroImage800 				= "600.jpg"
		- var linkCTA					= "http://www.solopx.com"
		- var header 					= "#NUOVO SILVER PACK"
		- var row01						= "Acquista ora le nuove colorazioni di scarpe Nike"
		- var row02						= false
		- var row03						= false
		- var ctaCopy 					= "BUY NOW"

	else
		- var heroImage800 				= "600.jpg"
		- var linkCTA					= "http://www.solopx.com"
		- var header 					= "#NUOVO SILVER PACK"
		- var row01						= "Acquista ora le nuove colorazioni di scarpe Nike"
		- var row02						= false
		- var row03						= false
		- var ctaCopy 					= "VEDI MODELLI"

	- var bgColorCopy				= "#000000"
	- var colorHeader				= "#b5ff00"
	- var colorCopy					= "#777777"
	- var trakingSource				= "_b1&ga_medium=DEM&ga_source=NL"