extends template/heroImg
block info
	include config
	if lang == "en"
		- var heroImage800 				= "800.jpg"
		- var linkCTA					= "http://www.solopx.com"
		- var header 					= "BE THE DIFFERENCE"
		- var row01						= "Football is changing. In the style and way it is played and in the types of players who grace the game."
		- var row02						= false
		- var row03						= false
		- var ctaCopy 					= "BUY NOW"

	else
		- var heroImage800 				= "800.jpg"
		- var linkCTA					= "http://www.solopx.com"
		- var header 					= "BE THE DIFFERENCE"
		- var row01						= "Football is changing. In the style and way it is played and in the types of players who grace the game."
		- var row02						= false
		- var row03						= false
		- var ctaCopy 					= "ACQUISTA"

	- var bgColorCopy				= "#33333d"
	- var colorCopy					= "#ffffff"
	- var trakingSource				= "_b1&ga_medium=DEM&ga_source=NL"