extends template/heroImg
block info
	include config
	if lang == "en"
		- var heroImage800 				= "600.jpg"
		- var linkCTA					= "http://www.solopx.com"
		- var header 					= "#NUOVO SILVER PACK"
		- var row01						= "Acquista ora le nuove colorazioni di scarpe Nike"
		- var row02						= false
		- var row03						= false
		- var ctaCopy 					= "BUY NOW  &#10095;&#10095;"

		//- ////////////////////////////////////////////////////////////////////////////////////////////
		//-
		//- 	set up Cownt DOWN: year, month, day, our or if you dont want set "cowntdown" to false
		//-
		//- ////////////////////////////////////////////////////////////////////////////////////////////
		- var cowntdown 				= false
		- var copyCowntdown 			= "IT Promotion available until midnight of 23.04.2015"

		//- ////////////////////////////////////////////////////////////////////////////////////////////
		//-
		//- 	setUp size option on HeroImage
		//-
		//- ////////////////////////////////////////////////////////////////////////////////////////////
		- var size 						= "man"


	if lang == "it"
		- var heroImage800 				= "600.jpg"
		- var linkCTA					= "http://www.solopx.com"
		- var header 					= "#NUOVO SILVER PACK"
		- var row01						= "Acquista ora le nuove colorazioni di scarpe Nike"
		- var row02						= false
		- var row03						= false
		- var ctaCopy 					= "VEDI TUTTI I MODELLI  &#10095;&#10095;"

		//- ////////////////////////////////////////////////////////////////////////////////////////////
		//-
		//- 	set up Cownt DOWN: year, month, day, our or if you dont want set "cowntdown" to false
		//-
		//- ////////////////////////////////////////////////////////////////////////////////////////////
		- var cowntdown 				= "2015-08-09+00:00:01"
		- var copyCowntdown  			= "PROMOTION AVAILABLE UNTIL MIDNIGHT OF 23.04.2015"
		//- var cowntdown 					= false

		//- ////////////////////////////////////////////////////////////////////////////////////////////
		//-
		//- 	setUp size option on HeroImage
		//-
		//- ////////////////////////////////////////////////////////////////////////////////////////////
		- var size 						= "man"

		//- ////////////////////////////////////////////////////////////////////////////////////////////
		//-
		//- 	COUPON
		//-
		//- ////////////////////////////////////////////////////////////////////////////////////////////
		- var couponCopyRow01 			= "Use this COUPON:"
		- var coupon 					= "JUV12345"
		- var couponCopyRow02 			= "to get 20% discount on any course from the store."

	- var trakingSource					= "_b1&ga_medium=DEM&ga_source=NL"
	- var bgColorCopy					= "#000000"
	- var colorHeader					= "#b5ff00"
	- var colorCopy						= "#777777"

	//- ////////////////////////////////////////////////////////////////////////////////////////////
	//-
	//- 	CTA setUP
	//-
	//- ////////////////////////////////////////////////////////////////////////////////////////////
	block ctaCustom
		- var buttonType 				= "01"
		- var bgColor					= "#b5ff00"
		- var txtColor					= "#33333d"
		- var width						= "200px"
		- var height 					= "44px"
		- var arcsize 					= "5%"
		- var radiusSize 				= "2px"
		- var lineheight 				= "44px"
		- var align 					= "center"
		- var fontSize					= "font-size: 14px; line-height: 11px;"