extends template/heroImg
block info
	include config

	if lang == "en"

		//- 	 _                      _
		//- 	| |                    (_)
		//- 	| |__   ___ _ __ ___    _ _ __ ___   __ _
		//- 	| '_ \ / _ \ '__/ _ \  | | '_ ` _ \ / _` |
		//- 	| | | |  __/ | | (_) | | | | | | | | (_| |
		//- 	|_| |_|\___|_|  \___/  |_|_| |_| |_|\__, |
		//-                                      __/ |
		//-                                     |___/

		- var heroImage 				= "600.jpg"
		- var linkCTA					= "http://www.solopx.com"
		- var header 					= "#NUOVO SILVER PACK"
		- var row01						= "Acquista ora le nuove colorazioni di scarpe Nike"
		- var row02						= false
		- var row03						= false
		- var ctaCopy 					= "BUY NOW &raquo;"

		//-		                         _         _
		//-		                        | |       | |
		//-		  ___ _____      ___ __ | |_    __| | _____      ___ __
		//-		 / __/ _ \ \ /\ / / '_ \| __|  / _` |/ _ \ \ /\ / / '_ \
		//-		| (_| (_) \ V  V /| | | | |_  | (_| | (_) \ V  V /| | | |
		//-		 \___\___/ \_/\_/ |_| |_|\__|  \__,_|\___/ \_/\_/ |_| |_|
		//-
		//- 	set up Cownt DOWN: year, month, day, our or if you dont want set "cowntdown" to false

		- var cowntdown 				= false
		- var copyCowntdown 			= "IT Promotion available until midnight of 23.04.2015"

		//-		  _ _       _      _ _     _
		//-		 | (_)     | |    | (_)   | |
		//-		 | |_ _ __ | | __ | |_ ___| |_
		//-		 | | | '_ \| |/ / | | / __| __|
		//-		 | | | | | |   <  | | \__ \ |_
		//-		 |_|_|_| |_|_|\_\ |_|_|___/\__|
		//-
		//- 	setUp optionList on HeroImage

		- var size 							= true
		- var optionListLink01				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=350&limit=all"
		- var optionListCopy01				= "39"
		- var optionListLink02				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=412&limit=all"
		- var optionListCopy02				= "43"
		- var optionListLink03				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"
		- var optionListCopy03				= "46"
		- var optionListLink04				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=460&limit=all"
		- var optionListCopy04				= "48"
		- var optionListLink05				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=302&limit=all"
		- var optionListCopy05				= "38"
		- var optionListLink06				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=278&limit=all"
		- var optionListCopy06				= "40"
		- var optionListLink07				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=276&limit=all"
		- var optionListCopy07				= "40"
		- var optionListLink08				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=353&limit=all"
		- var optionListCopy08				= "41"
		- var optionListLink09				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=279&limit=all"
		- var optionListCopy09				= "41"
		- var optionListLink10				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=277&limit=all"
		- var optionListCopy10				= "42"
		- var optionListLink11				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=283&limit=all"
		- var optionListCopy11				= "42"
		- var optionListLink12				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=280&limit=all"
		- var optionListCopy12				= "43"
		- var optionListLink13				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=275&limit=all"
		- var optionListCopy13				= "44"
		- var optionListLink14				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=281&limit=all"
		- var optionListCopy14				= "44"
		- var optionListLink15				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=282&limit=all"
		- var optionListCopy15				= "45"
		- var optionListLink16				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=303&limit=all"
		- var optionListCopy16				= "45"
		- var optionListLink17				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=294&limit=all"
		- var optionListCopy17				= "46"
		- var optionListLink18				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=436&limit=all"
		- var optionListCopy18				= "47"


		//-		   ___ ___  _   _ _ __   ___  _ __
		//-		  / __/ _ \| | | | '_ \ / _ \| '_ \
		//-		 | (_| (_) | |_| | |_) | (_) | | | |
		//-		  \___\___/ \__,_| .__/ \___/|_| |_|
		//-		                 | |
		//-		                 |_|
		//-
		//- 	COUPON set UP

		- var couponCopyRow01 			= "Use this COUPON to get 20% discount on any product:"
		- var coupon 					= "#PROUDofJU"
		- var couponCopyRow02 			= "PROMOTION AVAILABLE UNTIL MIDNIGHT OF 23.04.2015"

	if lang == "it"

		//-		 _                      _
		//-		| |                    (_)
		//-		| |__   ___ _ __ ___    _ _ __ ___   __ _
		//-		| '_ \ / _ \ '__/ _ \  | | '_ ` _ \ / _` |
		//-		| | | |  __/ | | (_) | | | | | | | | (_| |
		//-		|_| |_|\___|_|  \___/  |_|_| |_| |_|\__, |
		//-                                      __/ |
		//-                                     |___/

		- var heroImage 				= "600.jpg"
		- var linkCTA					= "http://www.solopx.com"

		- var heroImageheader 			= "#NUOVO SILVER PACK"
		- var row01						= "Acquista ora le nuove colorazioni di scarpe Nike"
		- var row02						= false
		- var row03						= false
		- var ctaCopy 					= "VEDI TUTTI I MODELLI   &raquo;"

		//-		                         _         _
		//-		                        | |       | |
		//-		  ___ _____      ___ __ | |_    __| | _____      ___ __
		//-		 / __/ _ \ \ /\ / / '_ \| __|  / _` |/ _ \ \ /\ / / '_ \
		//-		| (_| (_) \ V  V /| | | | |_  | (_| | (_) \ V  V /| | | |
		//-		 \___\___/ \_/\_/ |_| |_|\__|  \__,_|\___/ \_/\_/ |_| |_|
		//-
		//- 	set up Cownt DOWN: year, month, day, our or if you dont want set "cowntdown" to false

		- var cowntdown 				= "2015-08-09+00:00:01"
		- var copyCowntdown  			= "PROMOTION AVAILABLE UNTIL MIDNIGHT OF 23.04.2015"
		//- var cowntdown 					= false

		//-		  _ _       _      _ _     _
		//-		 | (_)     | |    | (_)   | |
		//-		 | |_ _ __ | | __ | |_ ___| |_
		//-		 | | | '_ \| |/ / | | / __| __|
		//-		 | | | | | |   <  | | \__ \ |_
		//-		 |_|_|_| |_|_|\_\ |_|_|___/\__|
		//-
		//- 	setUp optionList on HeroImage

		//- set column number
		- var size 							= "4"

		- var optionListLink01				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=350&limit=all"
		- var optionListCopy01				= "39"

		- var optionListLink02				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=412&limit=all"
		- var optionListCopy02				= "43"

		- var optionListLink03				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"
		- var optionListCopy03				= "46"

		- var optionListLink04				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=460&limit=all"
		- var optionListCopy04				= "48"

		- var optionListLink05				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=302&limit=all"
		- var optionListCopy05				= "38"

		- var optionListLink06				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=278&limit=all"
		- var optionListCopy06				= "40"

		- var optionListLink07				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=276&limit=all"
		- var optionListCopy07				= "40"

		- var optionListLink08				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=353&limit=all"
		- var optionListCopy08				= "41"

		- var optionListLink09				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=279&limit=all"
		- var optionListCopy09				= "41"

		- var optionListLink10				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=277&limit=all"
		- var optionListCopy10				= "42"

		- var optionListLink11				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=283&limit=all"
		- var optionListCopy11				= "42"

		- var optionListLink12				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=280&limit=all"
		- var optionListCopy12				= "43"

		- var optionListLink13				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=275&limit=all"
		- var optionListCopy13				= "44"

		- var optionListLink14				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=281&limit=all"
		- var optionListCopy14				= "44"

		- var optionListLink15				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=282&limit=all"
		- var optionListCopy15				= "45"

		- var optionListLink16				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=303&limit=all"
		- var optionListCopy16				= "45"

		- var optionListLink17				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=294&limit=all"
		- var optionListCopy17				= "46"

		- var optionListLink18				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=436&limit=all"
		- var optionListCopy18				= "47"

		- var optionListLink19				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=436&limit=all"
		- var optionListCopy19				= "47"

		- var optionListLink20				= "http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=436&limit=all"
		- var optionListCopy20				= "47"


		//-		   ___ ___  _   _ _ __   ___  _ __
		//-		  / __/ _ \| | | | '_ \ / _ \| '_ \
		//-		 | (_| (_) | |_| | |_) | (_) | | | |
		//-		  \___\___/ \__,_| .__/ \___/|_| |_|
		//-		                 | |
		//-		                 |_|
		//-
		//- 	COUPON set UP

		- var couponCopyRow01 			= "Use this COUPON to get 20% discount on any product:"
		- var coupon 					= "#PROUDofJU"
		- var couponCopyRow02 			= "PROMOTION AVAILABLE UNTIL MIDNIGHT OF 23.04.2015"


	- var trakingSource					= "_b1&ga_medium=DEM&ga_source=NL"
	- var bgColorCopy					= "#000000"
	- var colorHeader					= "#b5ff00"
	- var colorCopy						= "#777777"

	//-		      _
	//-		     | |
	//-		  ___| |_ __ _
	//-		 / __| __/ _` |
	//-		| (__| || (_| |
	//-		 \___|\__\__,_|
	//-
	//- 	CTA setUP

	block ctaCustom
		//- 01 = simple CTA (buy now or Acquista)
		//- 02 = CTA with price (buy at {priceProd} or Acquista a {priceProd})
		- var buttonType 				= "01"
		- var bgColor					= "#b5ff00"
		- var txtColor					= "#33333d"
		- var width						= "200px"
		- var height 					= "44px"
		- var arcsize 					= "5%"
		- var radiusSize 				= "2px"
		- var lineheight 				= "44px"
		- var align 					= "center"
		- var fontSize					= "font-size: 14px; line-height: 11px;"