extends template/ourBrand
block info
	include config

	if lang == "en"
		//- size template
		- var brandRow = "2"
		- var brandRowCopy = "OUR BRAND"
		- var brandLinks01 = [{"brandName":"adidas","brandImage": "adidas.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=350&limit=all"},{"brandName":"nike","brandImage": "nike.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=412&limit=all"},{"brandName":"puma","brandImage": "puma.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"},{"brandName":"joma","brandImage": "joma.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=460&limit=all"},{"brandName":"mizuno","brandImage": "mizuno.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=302&limit=all"}]


	if lang == "it"

		//- size template
		- var brandRow = "2"
		- var brandRowCopy = "OUR BRAND"
		- var brandLinks01 = [{"brandName":"adidas","brandImage": "adidas.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=350&limit=all"},{"brandName":"nike","brandImage": "nike.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=412&limit=all"},{"brandName":"puma","brandImage": "puma.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"},{"brandName":"joma","brandImage": "joma.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=460&limit=all"},{"brandName":"mizuno","brandImage": "mizuno.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=302&limit=all"}]