extends template/ourBrand
block info
	include config

	- var brandRow = "2"
	- var widthImageBrand = 60
	if lang == "en"
		- var brandRowCopy = "OUR BRAND"
		- var brandLinks01 = [{"brandName":"nike","brandImage": "nike.gif", "brandURL":"#"},{"brandName":"adidas","brandImage": "adidas.gif", "brandURL":"#"},{"brandName":"puma","brandImage": "puma.gif", "brandURL":"#"},{"brandName":"mizuno","brandImage": "mizuno.gif", "brandURL":"#"}]
		- var brandLinks02 = [{"brandName":"joma","brandImage": "joma.gif", "brandURL":"#"},{"brandName":"uhl","brandImage": "uhl.gif", "brandURL":"#"},{"brandName":"asics","brandImage": "asics.gif", "brandURL":"#"},{"brandName":"reusch","brandImage": "reusch.gif", "brandURL":"#"},{"brandName":"macron","brandImage": "macron.gif", "brandURL":"#"}]

	if lang == "it"
		- var brandRowCopy = "I nostri marchi"
		- var brandLinks01 = [{"brandName":"nike","brandImage": "nike.gif", "brandURL":"#"},{"brandName":"adidas","brandImage": "adidas.gif", "brandURL":"#"},{"brandName":"puma","brandImage": "puma.gif", "brandURL":"#"},{"brandName":"mizuno","brandImage": "mizuno.gif", "brandURL":"#"}]
		- var brandLinks02 = [{"brandName":"joma","brandImage": "joma.gif", "brandURL":"#"},{"brandName":"uhl","brandImage": "uhl.gif", "brandURL":"#"},{"brandName":"asics","brandImage": "asics.gif", "brandURL":"#"},{"brandName":"reusch","brandImage": "reusch.gif", "brandURL":"#"},{"brandName":"macron","brandImage": "macron.gif", "brandURL":"#"}]