- var lang 				= "it"

- var production 		= false
- var test 				= false

- var imgLink = "images/"
- var data = "27-3"

if lang == "en"
	- var title 			= "Samplte title dem en"
	- var previewCopy		= "Acquista la nuova maglia home del Milan 2015/16"
	- var onlineVersionCopy	= "E-mail non visualizza correttamente?"
	- var viewOnline		= "view online version"
	- var viewOnlineLink	= "#"
	- var folowUscopy 		= "follow us on"

else
	- var title 			= "Samplte title dem it"
	- var previewCopy		= "Acquista la nuova maglia home del Milan 2015/16"
	- var onlineVersionCopy	= "E-mail non visualizza correttamente?"
	- var viewOnline		= "view online version"
	- var viewOnlineLink	= "#"
	- var folowUscopy 		= "seguicci su"

// LAYOUT
// /////////////////////////////////////////////////////////////////

- var fontSans = "font-family: Helvetica, Arial, sans-serif;"
- var fontSerif = "font-family: Georgia, sans-serif;"

- var fontXXS		= "font-size: 8px; line-height: 10px;"
- var fontXS		= "font-size: 10px; line-height: 14px;"
- var fontS			= "font-size: 11px; line-height: 11px;"
- var fontM			= "font-size: 13px; line-height: 20px;"
- var fontL			= "font-size: 16px; line-height: 20px;"
- var fontXL		= "font-size: 20px; line-height: 22px;"
- var fontXXL		= "font-size: 28px; line-height: 30px;"
- var fontXXXL		= "font-size: 34px; line-height: 30px;"

- var decNone ="text-decoration: none;"

// color Management
// /////////////////////////////////////////////////////////////////

- var containerBg 		= "#2b2d29"
- var wraperCollor 		= "#ffffff"

- var colorPrimary 		= "#b5ff00"
- var colorSecondary 	= "#33333d"
- var colorTertiari 	= "#2b2d29"

// Social network
// /////////////////////////////////////////////////////////////////

- var siteName = "football4u"
- var instagram = "https://instagram.com/football4uofficial/"
- var facebook = "https://www.facebook.com/Football4U.it"
- var blog = "http://blog.football4u.it/"
- var youTube = "https://www.youtube.com/channel/UCzqG3NzsJtmTa4qJ54ssUEg/"
- var gPlus = "https://plus.google.com/+Football4uItF4U/"
//- var pinterest = ""