/* line 1, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.wraperCollor {
  color: #ffffff; }

/* line 4, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.wraper {
  background-color: #ffffff; }

/* line 11, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
a.header, .header, .title, .subtitle, .footer-text {
  font-family: Helvetica, Arial, sans-serif; }

/* line 14, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
  color: black; }

/* line 20, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.footer-text {
  font-size: 12px;
  line-height: 16px;
  color: black; }
  /* line 24, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
  .footer-text a {
    color: black; }

/* line 28, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.container {
  width: 600px;
  max-width: 600px; }

/* line 32, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.containerFooter {
  background-color: #cccccc; }

/* line 35, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.container-padding {
  padding-left: 24px;
  padding-right: 24px; }

/* line 39, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.content {
  padding-top: 12px;
  padding-bottom: 12px; }

/* line 43, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.content-wrapper {
  padding-left: 24px;
  padding-right: 24px; }

/* line 47, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.col {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  color: black;
  width: 100%; }

/* line 54, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.column_full .col, .cols-wrapper.column_full {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0;
  padding-bottom: 0; }

/* line 61, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.col, .cols-wrapper {
  padding-left: 12px;
  padding-right: 12px; }

/* line 65, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.col {
  padding-top: 12px;
  padding-bottom: 12px; }

/* line 69, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.col-copy {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  color: black;
  margin-top: 12px; }

/* line 78, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
code {
  background-color: #eee;
  padding: 0 4px;
  font-family: Menlo, Courier, monospace;
  font-size: 12px; }

/* line 85, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.title {
  font-size: 18px;
  font-weight: 600;
  color: black; }

/* line 90, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.subtitle {
  margin-top: 18px;
  font-size: 18px;
  font-weight: bold; }

/* line 95, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.subtitle span {
  font-weight: 400;
  color: black; }

/* line 99, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/customStyle */
.body-text {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: black;
  font-family: Helvetica, Arial, sans-serif; }

@media only screen and (max-width: 599px) {
  /* line 4, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/nav */
  td[class="main_nav"] td {
    display: inline-block; }
 }

/* line 1, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/button */
.buttonsLink {
  background-color: #4d4d4d;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
  text-decoration: none;
  width: 150px;
  -webkit-text-size-adjust: none;
  mso-hide: all; }

/* line 1, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/hr */
hr, .hr {
  border: 0;
  border-bottom: 1px solid #cccccc; }

/* line 4, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/hr */
.hr {
  height: 1px;
  clear: both; }

/* line 1, /Users/nicur/Documents/dev/git/responsive-email/files/assets/sass/2prod_a */
.titlePrd {
  font-size: 18px;
  padding-top: 12px; }
