extends ../views/3prod

block 3prod_a
	include ../config
	- var template 						= "3prod_a"

	if lang == "en"
		- var ctaCopy 					= "BUY NOW"
		if prod == "01"
			- var linkCTA 				= "http://www.fiorentinastore.com/en/fiorentina-blue-training-jersey-2015-16.html"
			- var imgProd				= "http://fiorentina.dunebuggysrl.netdna-cdn.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/f/i/fi15044.jpg"
			- var titleProd				= "Fiorentina Blue Training Jersey 2015/16"
			- var priceProd 			= "€35.00"
			- var oldPriceProd			= false

		if prod == "02"
			- var linkCTA 				= "http://www.fiorentinastore.com/en/fiorentina-violet-training-sweatshirt-2015-16.html"
			- var imgProd				= "http://fiorentina.dunebuggysrl.netdna-cdn.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/f/i/fi15045.jpg"
			- var titleProd				= "Fiorentina Violet Training Sweatshirt 2015/16"
			- var priceProd 			= "70"
			- var oldPriceProd			= false

		if prod == "03"
			- var linkCTA 				= "http://www.fiorentinastore.com/en/fiorentina-blue-core-sweatshirt-2015-16-kids.html"
			- var imgProd				= "http://fiorentina.dunebuggysrl.netdna-cdn.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/f/i/fi15224.jpg"
			- var titleProd				= "Fiorentina Blue Core Sweatshirt 2015/16 - Kids"
			- var priceProd 			= "29"
			- var oldPriceProd			= false

	if lang == "it"
		- var ctaCopy 					= "Acquista"
		if prod == "01"
			- var linkCTA 				= "http://www.fiorentinastore.com/en/fiorentina-blue-training-jersey-2015-16.html"
			- var imgProd				= "http://fiorentina.dunebuggysrl.netdna-cdn.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/f/i/fi15044.jpg"
			- var titleProd				= "Fiorentina Blue Training Jersey 2015/16"
			- var priceProd 			= "€35.00"
			- var oldPriceProd			= false

		if prod == "02"
			- var linkCTA 				= "http://www.fiorentinastore.com/en/fiorentina-violet-training-sweatshirt-2015-16.html"
			- var imgProd				= "http://fiorentina.dunebuggysrl.netdna-cdn.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/f/i/fi15045.jpg"
			- var titleProd				= "Fiorentina Violet Training Sweatshirt 2015/16"
			- var priceProd 			= "70"
			- var oldPriceProd			= false

		if prod == "03"
			- var linkCTA 				= "http://www.fiorentinastore.com/en/fiorentina-blue-core-sweatshirt-2015-16-kids.html"
			- var imgProd				= "http://fiorentina.dunebuggysrl.netdna-cdn.com/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/f/i/fi15224.jpg"
			- var titleProd				= "Fiorentina Blue Core Sweatshirt 2015/16 - Kids"
			- var priceProd 			= "29"
			- var oldPriceProd			= false

	//- customize button variable optional
	block ctaCustom
		//- 01 = simple CTA (buy now or Acquista)
		//- 02 = CTA with price (buy at {priceProd} or Acquista a {priceProd})
		- var buttonType 	= "01"
		- var bgColor		= "#b5ff00"
		- var txtColor		= "#33333d"
		//- can be 160 max
		- var width			= "160px"
		- var height 		= "36px"
		- var arcsize 		= "5%"
		- var radiusSize 	= "3px"
		- var lineheight 	= "30px"
		- var align 		= "left"
		- var fontSize		= "font-size: 14px; line-height: 11px;"