extends ../template/footerLink
block color
	if site == "fiorentina"
		- var sampleVar = colorSecondary


block info

	if lang == "en"
		- var footerLinksx = [{"footerCopy":"Shipping", "footerURL":"#"},{"footerCopy":"Returns", "footerURL":"#"},{"footerCopy":"Privacy", "footerURL":"#"},{"footerCopy":"Contacts", "footerURL":"#"},{"footerCopy":"Unsubscribe", "footerURL":"#"}]

	if lang == "it"
		- var footerLinksx = [{"footerCopy":"Shipping", "footerURL":"#"},{"footerCopy":"Returns", "footerURL":"#"},{"footerCopy":"Privacy", "footerURL":"#"},{"footerCopy":"Contacts", "footerURL":"#"},{"footerCopy":"Unsubscribe", "footerURL":"#"}]

	- var trakingSource 	= "_footer&ga_medium=DEM&ga_source=NL"