extend ../template/cowntDown
//-		                         _         _
//-		                        | |       | |
//-		  ___ _____      ___ __ | |_    __| | _____      ___ __
//-		 / __/ _ \ \ /\ / / '_ \| __|  / _` |/ _ \ \ /\ / / '_ \
//-		| (_| (_) \ V  V /| | | | |_  | (_| | (_) \ V  V /| | | |
//-		 \___\___/ \_/\_/ |_| |_|\__|  \__,_|\___/ \_/\_/ |_| |_|
//-
//- 	set up Cownt DOWN:
//- 	year, month, day, hour
//-  	or if you dont want to see in some language:
//- 	set "cowntdown" to false

block info
	if lang == "en"
		- var cowntdown 		= "2015-08-09+00:00:01" //- or false
		- var copyCowntdown 	= "IT Promotion available until midnight of 23.04.2015"

	if lang == "it"
		- var cowntdown 		= "2015-08-09+00:00:01" //- or false
		- var copyCowntdown  	= "PROMOTION AVAILABLE UNTIL MIDNIGHT OF 23.04.2015"

block color
	- var bgColor 			= colorBlack
	- var imgBgColor 		= containerBg
	- var fontColor 		= colorSecondary__
	- var borderBottomTop 	= colorPrimary_