extend ../template/heroImageHeader

//-		 _                      _
//-		| |                    (_)
//-		| |__   ___ _ __ ___    _ _ __ ___   __ _
//-		| '_ \ / _ \ '__/ _ \  | | '_ ` _ \ / _` |
//-		| | | |  __/ | | (_) | | | | | | | | (_| |
//-		|_| |_|\___|_|  \___/  |_|_| |_| |_|\__, |
//-     	                                 __/ |
//-         	                            |___/

block info
	if lang == "en"

		- var HeaderImage				= "header_en.jpg"
		- var CTAImage					= "cta01_en.jpg"
		- var linkCTA					= "http://www.solopx.com"
		- var heroImageheader 			= "Torna alla serie A"
		- var row01						= "Tornando alla serie A, prezzi bloccati e un finanziamento a tasso zero"
		- var row02						= false
		- var row03						= false


	if lang == "it"

		- var HeaderImage				= "header_it.jpg"
		- var CTAImage					= "cta01_it.jpg"
		- var linkCTA					= "http://www.solopx.com"
		- var heroImageheader 			= "Torna alla serie A"
		- var row01						= "Tornando alla serie A, prezzi bloccati e un finanziamento a tasso zero"
		- var row02						= false
		- var row03						= false

block color
	-var bgcolor = colorWhite