extend ../template/singleCTA
block info
	if lang == "en"
		- var linkCTA 			= "www.solopx.com/en"
		- var ctaCopy 			= "Sample CTA - en"
		- var trakingSource 	= "trakingSourceSingleCTA"

	if lang == "it"
		- var linkCTA 			= "www.solopx.com/it"
		- var ctaCopy  			= "Sample CTA - it"
		- var trakingSource 	= "trakingSourceSingleCTA"
