// 1. RESPONSIVE PART
// it will be the only CSS part, contained in the final HTML
// cut and paste in other file temporary

style
	include ../../../assets/css/style_col.css

// 2. CUSTOM PART
// let this part of css for inline tools
// use this tool for inline css: (http://templates.mailchimp.com/resources/inline-css/)

style
	include ../../../assets/css/myStyle.css