<ol>
<li>set the <em>trakingSource</em> inside the <strong>trakingSource</strong> variable</li>
<li><em>images</em> are optional for header and for CTA (call to action). If you set the images to false it will display only text
 images format name is:<pre><code> name_en.jpg (you must put only the &quot;name&quot;)
 ex: if the image name is promo_02_en.jpg. you must put only &quot;promo_02&quot;
</code></pre></li>
<li>you must put the link for any language version inside <strong>linkCTA</strong> variable</li>
<li>the text from header is inside <strong>rowHeaderTitle</strong> variable</li>
<li>the line of text is inside <strong>row01</strong> variable</li>
<li>and copy of CTA is inside <strong>ctaCopy</strong></li>
</ol>
