<h1 id="rowheader-template">rowHeader template</h1>
<h3 id="contains-3-elements-">Contains 3 elements:</h3>
<ol>
<li>Title (txt or images - optional)</li>
<li>row - line of text</li>
<li>and CTA - call to action (txt or images - optional)
All this element are optional (you must set to false if you want to not be display)</li>
</ol>
<hr>
<h3 id="in-two-version-you-can-set-this-in-colorscheme-variable-">In two version (you can set this in <em>colorScheme</em> variable)</h3>
<ol>
<li><strong>dark</strong> scheme</li>
<li><strong>light</strong> scheme</li>
</ol>
<hr>
<h4 id="note-variables-">Note variables:</h4>
<ol>
<li>set the <em>trakingSource</em> inside the <strong>trakingSource</strong> variable</li>
<li><em>images</em> are optional for header and for CTA (call to action). If you set the images to false it will display only the text inside <strong>rowHeaderTitle</strong> variable
 images format name is:<pre><code> **name_en.jpg** (you must put only the **&quot;name&quot;**)
 ex: if the image name is **promo_02_en.jpg**, you must put only **&quot;promo_02&quot;**
</code></pre></li>
<li>you must put the link for any language version inside <strong>linkCTA</strong> variable</li>
<li>the text from header is inside <strong>rowHeaderTitle</strong> variable</li>
<li>the line of text is inside <strong>rowHeaderRow</strong> variable</li>
<li>and copy of CTA is inside <strong>ctaCopy</strong></li>
</ol>
