//////////////////////////////////////////////////////////////////
// color mail

$primaryColor: black
$wraperCollor: #ffffff
$containerBg: darken($wraperCollor, 20%)

//////////////////////////////////////////////////////////////////
// px dimension mail


// size mail
$widthMail: 600px
$paddingMailLeftRight: 24px
$paddingMailTopBottom: 12px

//////////////////////////////////////////////////////////////////
// font


$baseFont: Helvetica, Arial, sans-serif

//////////////////////////////////////////////////////////////////
// buttons

$bgButtons: darken($containerBg, 50%)

$radiusSmallButtons: 3px
$radiusMediumButtons: 5px
$radiusLargeButtons: 7px

$fontSizeSmallButtons: 12px
$fontSizeMediumButtons: 14px
$fontSizeLargeButtons: 16px

$lineHeightSmallButtons: 20px
$lineHeightMediumButtons: 30px
$lineHeightLargeButtons: 44px

$textColorButtons: lighten($containerBg, 80%)