extends ../columns/threeColumn

block contentCol1_3
	img.image(src="http://placehold.it/600/334d67/ffffff&text=Prod+01/3" border="0" alt="The White Whale" width="168" hspace="0" vspace="0" style="max-width:100%;")
	.subtitle
		| col 01/3
	.col-copy
		| I take the good old fashioned ground that the whale is a fish, and call upon holy Jonah to back me. This fundamental thing settled, the next point is, in what internal respect does the whale differ from other fish.
	br

block contentCol2_3
	img.image(src="http://placehold.it/600/334d67/ffffff&text=Prod+02/3" border="0" alt="The White Whale" width="168" hspace="0" vspace="0" style="max-width:100%;")
	.subtitle
		| col 02/3
	.col-copy
		| I take the good old fashioned ground that the whale is a fish, and call upon holy Jonah to back me. This fundamental thing settled, the next point is, in what internal respect does the whale differ from other fish.
	br
block contentCol3_3
	img.image(src="http://placehold.it/600/334d67/ffffff&text=Prod+03/3" border="0" alt="The White Whale" width="168" hspace="0" vspace="0" style="max-width:100%;")
	.subtitle
		| col 03/3
	.col-copy
		| I take the good old fashioned ground that the whale is a fish, and call upon holy Jonah to back me. This fundamental thing settled, the next point is, in what internal respect does the whale differ from other fish.
	br