extend ../../template/cowntDown
block info
	if lang == "en"
		- var cowntdown 		= "2015-10-09+00:00:01"
		- var copyCowntdown 	= "IT Promotion available until midnight of 23.04.2015"

	if lang == "it"
		- var cowntdown 		= "2015-10-09+00:00:01"
		- var copyCowntdown  	= "PROMOTION AVAILABLE UNTIL MIDNIGHT OF 23.04.2015"