extend ../../template/singleCTA
block info
	if lang == "en"
		- var linkCTA 					= "www.solopx.com/en"
		- var ctaCopy 					= "BUY NOW"
		- var trakingSource 			= "trakingSourceSingleCTA"
		//- optional available: put some text inside the quote / false if you dont need this
		- var headerCopySingleCTA 		= "Promotion available - en"
		- var subHeaderCopySingleCTA 	= "Promotion available - en"

	if lang == "it"
		- var linkCTA 					= "www.solopx.com/it"
		- var ctaCopy  					= "ACQUISTA ORA"
		- var trakingSource 			= "trakingSourceSingleCTA"
		- var headerCopySingleCTA 		= "Promotion available - it"
		- var subHeaderCopySingleCTA 	= "Promotion available - it"