//- Grey scale
- var colorWhiteD				= "#a1a1a1"
- var colorWhiteC				= "#b3b3b3"
- var colorWhiteB				= "#c7c7c7"
- var colorWhiteA				= "#dedede"
- var colorWhite				= "#f7f7f7"
- var colorGrey					= "#767676"
- var colorBlack				= "#000000"
- var colorBlackA				= "#191919"
- var colorBlackB				= "#303030"
- var colorBlackC				= "#444444"
- var colorBlackD				= "#565656"
//- Primary / viola
- var colorPrimaryLightD		= "#f4f2f8"
- var colorPrimaryLightC		= "#e9e4f0"
- var colorPrimaryLightB		= "#d2c9e0"
- var colorPrimaryLightA		= "#a592c1"
- var colorPrimary				= "#4a2583"
- var colorPrimaryDarkA			= "#2c164f"
- var colorPrimaryDarkB			= "#1a0d2f"
- var colorPrimaryDarkC			= "#10081c"
- var colorPrimaryDarkD			= "#0a0511"
//- Secondary / creme
- var colorSecondaryLightD		= "#faf9f6"
- var colorSecondaryLightC		= "#f5f3ec"
- var colorSecondaryLightB		= "#ebe6d8"
- var colorSecondaryLightA		= "#d7cdb1"
- var colorSecondary			= "#ae9a63"
- var colorSecondaryDarkA		= "#685c3b"
- var colorSecondaryDarkB		= "#3e3723"
- var colorSecondaryDarkC		= "#3e3723"
- var colorSecondaryDarkD		= "#16140d"
//- Tertiary / red
- var colorTertiaryLightD		= "#fef1f1"
- var colorTertiaryLightC		= "#fce3e2"
- var colorTertiaryLightB		= "#f9c6c4"
- var colorTertiaryLightA		= "#f28d89"
- var colorTertiary				= "#e41b13"
- var colorTertiaryDarkA		= "#89100b"
- var colorTertiaryDarkB		= "#520a07"
- var colorTertiaryDarkC		= "#310604"
- var colorTertiaryDarkD		= "#1d0402"
//- Fourth / red
- var colorFourthLightD			= "#fef1f1"
- var colorFourthLightC			= "#fce3e2"
- var colorFourthLightB			= "#f9c6c4"
- var colorFourthLightA			= "#f28d89"
- var colorFourth				= "#e41b13"
- var colorFourthDarkA			= "#89100b"
- var colorFourthDarkB			= "#520a07"
- var colorFourthDarkC			= "#310604"
- var colorFourthDarkD			= "#1d0402"