//- Grey scale
- var colorWhiteD				= "#a1a1a1"
- var colorWhiteC				= "#b3b3b3"
- var colorWhiteB				= "#c7c7c7"
- var colorWhiteA				= "#dedede"
- var colorWhite				= "#ffffff"
- var colorGrey					= "#767676"
- var colorBlack				= "#000000"
- var colorBlackA				= "#191919"
- var colorBlackB				= "#303030"
- var colorBlackC				= "#444444"
- var colorBlackD				= "#565656"

//- Primary
- var colorPrimaryLightD		= "#f6fcff"
- var colorPrimaryLightC		= "#edf9fe"
- var colorPrimaryLightB		= "#dbf3fd"
- var colorPrimaryLightA		= "#b6e7fb"
- var colorPrimary				= "#6dcff6"
- var colorPrimaryDarkA			= "#417c94"
- var colorPrimaryDarkB			= "#274a59"
- var colorPrimaryDarkC			= "#172c35"
- var colorPrimaryDarkD			= "#0e1a20"

//- Secondary
- var colorSecondaryLightD		= "#fafdf9"
- var colorSecondaryLightC		= "#f4faf3"
- var colorSecondaryLightB		= "#e8f4e7"
- var colorSecondaryLightA		= "#d1e9ce"
- var colorSecondary			= "#a3d39c"
- var colorSecondaryDarkA		= "#627f5e"
- var colorSecondaryDarkB		= "#3b4c38"
- var colorSecondaryDarkC		= "#232e22"
- var colorSecondaryDarkD		= "#151c14"

//- Tertiary
- var colorTertiaryLightD		= "#fff9f7"
- var colorTertiaryLightC		= "#fef2ef"
- var colorTertiaryLightB		= "#fde5de"
- var colorTertiaryLightA		= "#fbcbbc"
- var colorTertiary				= "#f69679"
- var colorTertiaryDarkA		= "#945a49"
- var colorTertiaryDarkB		= "#59362c"
- var colorTertiaryDarkC		= "#35201a"
- var colorTertiaryDarkD		= "#201310"

//- Fourth
- var colorFourthLightD			= "#fffff5"
- var colorFourthLightC			= "#fffeea"
- var colorFourthLightB			= "#fffcd5"
- var colorFourthLightA			= "#fff9aa"
- var colorFourth				= "#fff254"
- var colorFourthDarkA			= "#999132"
- var colorFourthDarkB			= "#5c571e"
- var colorFourthDarkC			= "#373412"
- var colorFourthDarkD			= "#211f0b"

