extends template/2prod_a
block info
	include config
	- var template = "2prod_a"

	- var imgProd01 				= "http://placehold.it/600/334d67/ffffff&text=Prod+01/2"
	- var imgProd02 				= "http://placehold.it/600/334d67/ffffff&text=Prod+02/2"

	if lang == "en"
		- var cta1 					= "Buy now"
		- var cta2 					= "Buy at"


		- var titleProd01			= "Title prod01/2 en"
		- var linkProd01			= "linkprod01en"
		- var priceProd01			= "10"
		- var oldPriceProd01 		= "15"


		- var titleProd02			= "Title prod02/2 en"
		- var linkProd02			= "linkprod02en"
		- var priceProd02			= "25"
		- var oldPriceProd02 		= "50"


	if lang == "it"
		- var cta1 					= "Acqusita"
		- var cta2 					= "Acqusita a"

		- var titleProd01			= "Title prod01/2 it"
		- var linkProd01			= "linkprod01it"
		- var priceProd01			= "10"
		- var oldPriceProd01 		= "15"



		- var titleProd02			= "Title prod02/2 it"
		- var linkProd02			= "linkprod02it"
		- var priceProd01			= "10"
		- var oldPriceProd01 		= "15"