extends template/3prod_a

block 3prod_a
	include config
	- var template 						= "3prod_a"
	if lang == "en"
		//- see arrow on this page http://character-code.com/arrows-html-codes.php
		- var ctaCopy 						= "BUY NOW  &raquo;"
		if prod == "01"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-superfly-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15001.jpg"
			- var titleProd				= "NIKE mercurial superfly fg wolf grey/hyper punch"
			- var priceProd 			= "247,50"
			- var oldPriceProd			= "275,00"

		if prod == "02"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-vapor-x-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15002_2.jpg"
			- var titleProd				= "NIKE mercurial vapor x fg wolf grey/hyper punch"
			- var priceProd 			= "180,0"
			- var oldPriceProd			= "200,0"

		if prod == "03"
			- var linkCTA 				= "http://www.football4u.it/it/nike-hypervenom-phantom-ii-fg-wolf-grey-total-orange.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15011.jpg"
			- var titleProd				= "NIKE hypervenom phantom ii fg wolf grey/ total orange"
			- var priceProd 			= "247,5"
			- var oldPriceProd			= "275,0"
	if lang == "it"
		//- see arrow on this page http://character-code.com/arrows-html-codes.php
		- var ctaCopy 				= "Acquista &raquo;"
		if prod == "01"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-superfly-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15001.jpg"
			- var titleProd				= "NIKE mercurial superfly fg wolf grey/hyper punch"
			- var priceProd 			= "247,50"
			- var oldPriceProd			= "275,00"

		if prod == "02"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-vapor-x-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15002_2.jpg"
			- var titleProd				= "NIKE mercurial vapor x fg wolf grey/hyper punch"
			- var priceProd 			= "180,00"
			- var oldPriceProd			= "200,00"

		if prod == "03"
			- var linkCTA 				= "http://www.football4u.it/it/nike-hypervenom-phantom-ii-fg-wolf-grey-total-orange.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15011.jpg"
			- var titleProd				= "NIKE hypervenom phantom ii fg wolf grey/ total orange"
			- var priceProd 			= "247,50"
			- var oldPriceProd			= "275,00"

	//- customize button variable optional
	block ctaCustom
		//- 01 = simple CTA (buy now or Acquista)
		//- 02 = CTA with price (buy at {priceProd} or Acquista a {priceProd})
		- var buttonType 	= "01"
		- var bgColor		= "#b5ff00"
		- var txtColor		= "#33333d"
		- var width			= "100px"
		- var height 		= "36px"
		- var arcsize 		= "5%"
		- var radiusSize 	= "3px"
		- var lineheight 	= "30px"
		- var align 		= "left"
		- var fontSize		= "font-size: 14px; line-height: 11px;"