extend ../../template/linkList
block infoLinkList
	- var product 						= false
	- var trakingSource 				= "xxxLinkList"
	if lang == "en"
		//- size template
			- var optionRow = "3"
			- var optionRowCopy = "Scegli il tuo numero - en"
			- var optionLinks01 = [{"itemName":"39","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=350&limit=all"},{"itemName":"43","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=412&limit=all"},{"itemName":"46","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"},{"itemName":"48","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=460&limit=all"},{"itemName":"38","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=302&limit=all"},{"itemName":"40","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=278&limit=all"}]
			- var optionLinks02 = [{"itemName":"40","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=276&limit=all"},{"itemName":"41","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=353&limit=all"},{"itemName":"41","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=279&limit=all"},{"itemName":"42","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=277&limit=all"},{"itemName":"42","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=283&limit=all"},{"itemName":"43","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=280&limit=all"}]
			- var optionLinks03 = [{"itemName":"44","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=275&limit=all"},{"itemName":"44","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=281&limit=all"},{"itemName":"45","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=282&limit=all"},{"itemName":"45","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=303&limit=all"},{"itemName":"46","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=294&limit=all"},{"itemName":"47","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=436&limit=all"}]

		//- price template
		- var optionRow = "1"
		- var optionRowCopy = "Scegli la fascia di prezzo - en"
		- var optionLinks01 = [{"itemName":"5 - 15 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=350&limit=all"},{"itemName":"15 - 25 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=412&limit=all"},{"itemName":"25 - 50 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"},{"itemName":"oltre 50 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"}]

	if lang == "it"

		//- size template
		- var optionRow = "3"
		- var optionRowCopy = "Scegli il tuo numero - it"
		- var optionLinks01 = [{"itemName":"39","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=350&limit=all"},{"itemName":"43","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=412&limit=all"},{"itemName":"46","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"},{"itemName":"48","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=460&limit=all"},{"itemName":"38","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=302&limit=all"},{"itemName":"40","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=278&limit=all"}]
		- var optionLinks02 = [{"itemName":"40","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=276&limit=all"},{"itemName":"41","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=353&limit=all"},{"itemName":"41","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=279&limit=all"},{"itemName":"42","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=277&limit=all"},{"itemName":"42","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=283&limit=all"},{"itemName":"43","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=280&limit=all"}]
		- var optionLinks03 = [{"itemName":"44","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=275&limit=all"},{"itemName":"44","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=281&limit=all"},{"itemName":"45","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=282&limit=all"},{"itemName":"45","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=303&limit=all"},{"itemName":"46","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=294&limit=all"},{"itemName":"47","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=436&limit=all"}]

		//- price template
			- var optionRow = "1"
			- var optionRowCopy = "Scegli la fascia di prezzo - it"
			- var optionLinks01 = [{"itemName":"5 - 15 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=350&limit=all"},{"itemName":"15 - 25 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=412&limit=all"},{"itemName":"25 - 50 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"},{"itemName":"oltre 50 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"}]

