extends ../views/nav

if lang == "en"

	if site == "f4u"
		- var LogoStoreTxt 		= "football4u"
		- var LogoImgLink 		= "http://www.football4u.it"

		- var Nav01 					= "FOOTBALL BOOTS"
		- var NavLink01 				= "http://www.football4u.it/en/football-boots.html"
		- var Nav02 					= "CLOTHING"
		- var NavLink02 				= "http://www.football4u.it/en/clothing.html"
		- var Nav03 					= "EQUIPMENT"
		- var NavLink03 				= "http://www.football4u.it/en/equipment.html"
		- var Nav04 					= "GOALKEEPER"
		- var NavLink04 				= "http://www.football4u.it/en/goalkeeper/goalkeeper.html"
		- var Nav05 					= "TEAMSPORT"
		- var NavLink05 				= "http://www.football4u.it/en/teamsport.html"
		- var Nav06 					= "CLEARANCE"
		- var NavLink06 				= "http://www.football4u.it/en/clearance.html"

	if site == "juve"
		- var LogoStoreTxt 		= "juve"
		- var LogoImgLink 		= "http://www.juvestore.com/en/"

		- var Nav01 					= "FOOTBALL BOOTS"
		- var NavLink01 				= "http://www.football4u.it/en/football-boots.html"
		- var Nav02 					= "CLOTHING"
		- var NavLink02 				= "http://www.football4u.it/en/clothing.html"
		- var Nav03 					= "EQUIPMENT"
		- var NavLink03 				= "http://www.football4u.it/en/equipment.html"
		- var Nav04 					= "GOALKEEPER"
		- var NavLink04 				= "http://www.football4u.it/en/goalkeeper/goalkeeper.html"
		- var Nav05 					= "TEAMSPORT"
		- var NavLink05 				= "http://www.football4u.it/en/teamsport.html"
		- var Nav06 					= "CLEARANCE"
		- var NavLink06 				= "http://www.football4u.it/en/clearance.html"

	if site == "fiorentina"
		- var LogoStoreTxt 				= "fiorentina"
		- var LogoImgLink 				= "http://www.fiorentinastore.com/en"

		- var Nav01 					= "MATCH KITS"
		- var NavLink01 				= "http://www.fiorentinastore.com/en/match-kits.html"
		- var Nav02 					= "FASHION"
		- var NavLink02 				= "http://www.fiorentinastore.com/en/fashion.html"
		- var Nav03 					= "ACCESSORIES"
		- var NavLink03 				= "http://www.fiorentinastore.com/en/accessories.html"
		- var Nav04 					= "COVERS"
		- var NavLink04 				= "http://www.fiorentinastore.com/en/covers.html"
		- var Nav05 					= "GIFT IDEAS"
		- var NavLink05 				= "http://www.fiorentinastore.com/en/gift-ideas.html"

	if site == "lazio"
		- var LogoStoreTxt 				= "lazio"
		- var LogoImgLink 				= "http://www.laziostylestore.com/en"
		- var Nav01 					= "115"
		- var NavLink01 				= "http://www.laziostylestore.com/en/115-years.html"
		- var Nav02 					= "MATCH KITS"
		- var NavLink01 				= "http://www.laziostylestore.com/en/match-kits.html"
		- var Nav03 					= "FASHION"
		- var NavLink02 				= "http://www.laziostylestore.com/en/fashion.html"
		- var Nav04 					= "ACCESSORIES"
		- var NavLink03 				= "http://www.laziostylestore.com/en/accessories.html"
		- var Nav05 					= "COVERS"
		- var NavLink04 				= "http://www.laziostylestore.com/en/covers.html"
		- var Nav06 					= "GIFT IDEAS"
		- var NavLink05 				= "http://www.laziostylestore.com/en/gift-ideas.html"
		- var Nav07 					= "CLEARANCE"
		- var NavLink05 				= "http://www.laziostylestore.com/en/clearance.html"


if lang == "it"

	if site == "fiorentina"
		- var LogoStoreTxt 				= "fiorentina"
		- var LogoImgLink 				= "http://www.fiorentinastore.com/it/"
		- var Nav01 					= "KIT GARA"
		- var NavLink01 				= "http://www.fiorentinastore.com/it/kit-gara.html"
		- var Nav02 					= "ABBIGLIAMENTO"
		- var NavLink02 				= "http://www.fiorentinastore.com/it/abbigliamento.html"
		- var Nav03 					= "ACCESSORI"
		- var NavLink03 				= "http://www.fiorentinastore.com/it/accessori.html"
		- var Nav04 					= "COVER"
		- var NavLink04 				= "http://www.fiorentinastore.com/it/cover.html"
		- var Nav05 					= "IDEE REGALO"
		- var NavLink05 				= "http://www.fiorentinastore.com/it/idee-regalo.html"

	if site == "lazio"
		- var LogoStoreTxt 				= "lazio"
		- var LogoImgLink 				= "http://www.laziostylestore.com/it/"
		- var Nav01 					= "115 ANNI"
		- var NavLink01 				= "http://www.laziostylestore.com/it/115-anni.html"
		- var Nav02 					= "KIT GARA"
		- var NavLink01 				= "http://www.laziostylestore.com/it/kit-gara.html"
		- var Nav03 					= "ABBIGLIAMENTO"
		- var NavLink02 				= "http://www.laziostylestore.com/it/abbigliamento.html"
		- var Nav04 					= "ACCESSORI"
		- var NavLink03 				= "http://www.laziostylestore.com/it/accessori.html"
		- var Nav05 					= "COVER"
		- var NavLink04 				= "http://www.laziostylestore.com/it/cover.html"
		- var Nav06 					= "IDEE REGALO"
		- var NavLink05 				= "http://www.laziostylestore.com/it/idee-regalo.html"
		- var Nav07 					= "OUTLET"
		- var NavLink05 				= "http://www.laziostylestore.com/it/outlet.html"

	if site == "f4u"
		- var LogoStoreTxt 				= "football4u"
		- var LogoImgLink 				= "http://www.football4u.it/it/"

		- var Nav01 					= "SCARPE"
		- var NavLink01 				= "http://www.football4u.it/it/scarpe-calcio.html"
		- var Nav02 					= "ABBIGLIAMENTO"
		- var NavLink02 				= "http://www.football4u.it/it/abbigliamento.html"
		- var Nav03 					= "ATTREZATURE"
		- var NavLink03 				= "http://www.football4u.it/it/accessori.html"
		- var Nav04 					= "PORTIERE"
		- var NavLink04 				= "http://www.football4u.it/it/portiere.html"
		- var Nav05 					= "TEAMSPORT"
		- var NavLink05 				= "http://www.football4u.it/it/teamsport.html"
		- var Nav06 					= "OUTLET"
		- var NavLink06 				= "http://www.football4u.it/it/outlet.html"

	if site == "juve"
		- var LogoStoreTxt 				= "juve"
		- var LogoImgLink 				= "http://www.juvestore.com/it/"

		- var Nav01 					= "SCARPE"
		- var NavLink01 				= "http://www.football4u.it/it/scarpe-calcio.html"
		- var Nav02 					= "ABBIGLIAMENTO"
		- var NavLink02 				= "http://www.football4u.it/it/abbigliamento.html"
		- var Nav03 					= "ATTREZATURE"
		- var NavLink03 				= "http://www.football4u.it/it/accessori.html"
		- var Nav04 					= "PORTIERE"
		- var NavLink04 				= "http://www.football4u.it/it/portiere.html"
		- var Nav05 					= "TEAMSPORT"
		- var NavLink05 				= "http://www.football4u.it/it/teamsport.html"
		- var Nav06 					= "OUTLET"
		- var NavLink06 				= "http://www.football4u.it/it/outlet.html"