extends ../../views/3prod


block 3prod_a
	include ../../config
	- var template 						= "3prod_a"
	- var trakingSource = "xxx3Prod"
	if lang == "en"

		- var ctaCopy 					= "BUY NOW"
		if prod == "01"
			- var linkCTA 				= "http://www.football4u.it/en/nike-magista-obra-fg-turquoise-blue.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/2/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15049.jpg"
			- var titleProd				= "Nike Magista Obra Fg Turquoise Blue"
			- var priceProd 			= "247.50"
			- var oldPriceProd			= "275.00"
			- var idProd				= "cs15049"

		if prod == "02"
			- var linkCTA 				= "http://www.football4u.it/en/adidas-x-15-2-fg-ag-solar-yellow.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/2/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15315.jpg"
			- var titleProd				= "Adidas X 15.2 Fg/Ag Solar Yellow"
			- var priceProd 			= "99.00"
			- var oldPriceProd			= "110.00"
			- var idProd				= "cs15315"

		if prod == "03"
			- var linkCTA 				= "http://www.football4u.it/en/puma-evospeed-1-3-xr-fg-white.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/2/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs14511.jpg"
			- var titleProd				= "Puma Evospeed 1.3 Xr Fg White"
			- var priceProd 			= "187.50"
			- var oldPriceProd			= "250.00"
			- var idProd				= "cs14511"

	if lang == "it"
		- var ctaCopy 					= "Acquista"
		if prod == "01"
			- var linkCTA 				= "http://www.football4u.it/it/nike-magista-obra-fg-turquoise-blue.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15049.jpg"
			- var titleProd				= "Nike Magista Obra Fg Turquoise Blue"
			- var priceProd 			= "247,50"
			- var oldPriceProd			= "275,00"
			- var idProd				= "cs15049"

		if prod == "02"
			- var linkCTA 				= "http://www.football4u.it/it/adidas-x-15-2-fg-ag-solar-yellow.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15315.jpg"
			- var titleProd				= "Adidas X 15.2 Fg/Ag Solar Yellow"
			- var priceProd 			= "99,00"
			- var oldPriceProd			= "110,00"
			- var idProd				= "cs15315"

		if prod == "03"
			- var linkCTA 				= "http://www.football4u.it/it/puma-evospeed-1-3-xr-fg-bianca.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs14511.jpg"
			- var titleProd				= "Puma Evospeed 1.3 Xr Fg Bianca"
			- var priceProd 			= "187,50"
			- var oldPriceProd			= "250,00"
			- var idProd				= "cs14511"

	//- customize button variable optional
	block ctaCustom
		//- ////////////////////////////////////////////
		//-
		//-		01 = simple CTA (buy now or Acquista)
		//-		02 = CTA with price (buy at {priceProd} or Acquista a {priceProd})
		//-
		//- ////////////////////////////////////////////
		- var buttonType 	= "02"
		- var bgColor		= "#b5ff00"
		- var txtColor		= "#33333d"
		//- can be 160 max
		- var width			= "160px"
		- var height 		= "36px"
		- var arcsize 		= "5%"
		- var radiusSize 	= "3px"
		- var lineheight 	= "30px"
		- var align 		= "left"
		- var fontSize		= "font-size: 14px; line-height: 11px;"