extend ../template/row2colButton/row2colButtonV02mixin

block append info

block append colOneCtainfo
	if lang == "en"
		// Copy for CTA (txt)
		- var ctaCopy 						= "Man"
		//- this is the link for all the block !!!
		- var ctaLink						= "http://www.solopx.com/man"
	if lang == "it"
		- var ctaCopy 						= "Uomo"
		- var ctaLink						= "http://www.solopx.com/man"

block append colTwoCtainfo
	if lang == "en"
		// Copy for CTA (txt)
		- var ctaCopy 						= "Uoman"
		//- this is the link for all the block !!!
		- var ctaLink						= "http://www.solopx.com/woman"
	if lang == "it"
		- var ctaCopy 						= "Donna"
		- var ctaLink						= "http://www.solopx.com/woman"


	//- column align
	//- var col1align = "right"
	//- var col2align = "left"