extend ../template/rowHeader/rowHeader
block info

	- var trakingSource 					= "xxxHeroImageHeader"

	//- iages optional
	//- this is the first row (image row)
	- var HeaderImage						= "header"
	- var HeaderImage						= false

	// this is the CTA image (image)
	- var CTAImage							= "cta01"
	- var CTAImage							= false

	//- optional you can put false on the row you dont't need
	if lang == "en"

		- var linkCTA						= "http://www.solopx.com"
		- var heroImageheader 				= "Serie A is back"

		// this is the second row (txt)
		- var row01							= "Tornando alla serie A, prezzi bloccati e un finanziamento a tasso zero"
		- var ctaCopy 						= "BUY NOW"


	if lang == "it"

		- var linkCTA						= "http://www.solopx.com"
		- var heroImageheader 				= "Serie A is back"

		// this is the second row (txt)
		- var row01							= false
		- var row01							= "Tornando alla serie A, prezzi bloccati e un finanziamento a tasso zero"

		- var ctaCopy  						= "ACQUISTA ORA"