extend ../template/rowHeader/rowHeader
block append info

	//- unique traking code
	- var trakingSource 					= "xxxHeroImageHeader_01"

	if lang == "en"
		//- Copy for the first row (txt)
		- var rowHeaderTitle 				= "SERIE A IS BACK"

		// Copy for the second row (txt) - this is optional if you dont want to use it put False instead
		- var rowHeaderRow					= "Tornando alla serie A, prezzi bloccati e un finanziamento a tasso zero"
		// Copy for CTA (txt)
		- var ctaCopy 						= "BUY NOW"
		//- this is the link for all the block !!!
		- var linkCTA						= "http://www.solopx.com"



	if lang == "it"
		- var rowHeaderTitle 				= "SERIE A IS BACK"
		- var rowHeaderRow					= "Tornando alla serie A, prezzi bloccati e un finanziamento a tasso zero"
		- var linkCTA						= "http://www.solopx.com"
		- var ctaCopy  						= "ACQUISTA ORA"


	//- 	ADITIONAL OPTION:
	//-
	//- 	1. Image to replace the header and CTA (call to action)
	//-
	//- 	The first row (image row) - set to "false" if you don't want to use image
	//- 	optional you can put false if you dont't need to use images
	- var rowHeaderTitleImage				= false

	// this is the CTA image (image) - set to "false" if you don't want to use image
	- var rowHeaderCTAImage					= false

	//- 2. colorScheme
	//-
	//- available: dark and light
	- var colorScheme 						= "dark"
	//- font size can be: fontXXS, fontXS, fontS, fontM, fontL, fontXL, fontXXL, fontXXXL
	//- up from 34 must be in this format "font35" (35-53)
	- var rowHeaderTitleSize 				= font53