// content default
- var LogoStoreTxt = "fiorentina"
- var socialIconList = [{"socialName":"facebook","socialURL":"https://www.facebook.com/ACFFiorentina"},{"socialName":"twitter","socialURL":"https://twitter.com/acffiorentina"},{"socialName":"youtube","socialURL":"https://www.youtube.com/user/ViolaChannel"},{"socialName":"blog","socialURL":"http://www.solopx.com"},{"socialName":"instagram","socialURL":"https://instagram.com/acffiorentina/"},{"socialName":"flikr","socialURL":"https://www.flickr.com/photos/acffiorentina"},{"socialName":"gPlus","socialURL":"plus.gmail.com"}]

if lang == "en"
	- var LogoLink 						= "http://www.solopx.com"

	//- copy preheader
	- var viewOnlineLink				= "${online_version_url}$"
	- var onlineVersionCopy				= "for web version, "
	- var viewOnline					= "click here"
	//- end coppy preHeader

	//- copy Header
	- var folowUscopy 					= "follow us on"
	//- end coppy header

	//- menu Nav
	- var navListLink = [{"navItem":"115","navItemLink":"http://www.laziostylestore.com/en/115-years.html","lastItemNav":false},{"navItem":"MATCH KITS","navItemLink":"http://www.laziostylestore.com/en/match-kits.html","lastItemNav":false},{"navItem":"FASHION","navItemLink":"http://www.laziostylestore.com/en/fashion.html","lastItemNav":false},{"navItem":"ACCESSORIES","navItemLink":"http://www.laziostylestore.com/en/accessories.html","lastItemNav":false},{"navItem":"COVERS","navItemLink":"http://www.laziostylestore.com/en/covers.html","lastItemNav":false},{"navItem":"GIFT IDEAS","navItemLink":"http://www.laziostylestore.com/en/gift-ideas.html","lastItemNav":false},{"navItem":"CLEARANCE","navItemLink":"http://www.laziostylestore.com/en/clearance.html","lastItemNav":true}]


if lang == "it"
	- var LogoLink 						= "http://www.solopx.com"

	//- copy preheader
	- var viewOnlineLink				= "${online_version_url}$"
	- var onlineVersionCopy				= "versione web, "
	- var viewOnline					= "clicca qui"
	//- end coppy preHeader

	//- copy Header
	- var folowUscopy 					= "seguici su"
	//- end coppy header

	//- menu Nav
	- var navListLink = [{"navItem":"115","navItemLink":"http://www.laziostylestore.com/en/115-years.html","lastItemNav":false},{"navItem":"MATCH KITS","navItemLink":"http://www.laziostylestore.com/en/match-kits.html","lastItemNav":false},{"navItem":"FASHION","navItemLink":"http://www.laziostylestore.com/en/fashion.html","lastItemNav":false},{"navItem":"ACCESSORIES","navItemLink":"http://www.laziostylestore.com/en/accessories.html","lastItemNav":false},{"navItem":"COVERS","navItemLink":"http://www.laziostylestore.com/en/covers.html","lastItemNav":false},{"navItem":"GIFT IDEAS","navItemLink":"http://www.laziostylestore.com/en/gift-ideas.html","lastItemNav":false},{"navItem":"CLEARANCE","navItemLink":"http://www.laziostylestore.com/en/clearance.html","lastItemNav":true}]

	- var Nav01 					= "115"
	- var NavLink01 				= "http://www.laziostylestore.com/en/115-years.html"
	- var Nav02 					= "MATCH KITS"
	- var NavLink01 				= "http://www.laziostylestore.com/en/match-kits.html"
	- var Nav03 					= "FASHION"
	- var NavLink02 				= "http://www.laziostylestore.com/en/fashion.html"
	- var Nav04 					= "ACCESSORIES"
	- var NavLink03 				= "http://www.laziostylestore.com/en/accessories.html"
	- var Nav05 					= "COVERS"
	- var NavLink04 				= "http://www.laziostylestore.com/en/covers.html"
	- var Nav06 					= "GIFT IDEAS"
	- var NavLink05 				= "http://www.laziostylestore.com/en/gift-ideas.html"
	- var Nav07 					= "CLEARANCE"
	- var NavLink05 				= "http://www.laziostylestore.com/en/clearance.html"
	//- end menu Nav


