// content default
- var LogoStoreTxt = "default"

if lang == "en"
	- var LogoLink 						= "http://www.solopx.com"

	//- copy preheader
	- var viewOnlineLink				= "${online_version_url}$"
	- var onlineVersionCopy				= "EN - If this e-mail is not being displayed properly, "
	- var viewOnline					= "EN - please click here"
	//- end coppy preHeader

	//- copy Header
	- var folowUscopy 					= "follow us on"
	//- end coppy header

if lang == "it"
	- var LogoLink 						= "www.solopx.com"

	//- copy preheader
	- var viewOnlineLink				= "${online_version_url}$"
	- var onlineVersionCopy				= "IT - If this e-mail is not being displayed properly, "
	- var viewOnline					= "IT - please click here"
	//- end coppy preHeader

	//- copy Header
	- var folowUscopy 					= "seguici su"
	//- end coppy header

	//- menu Nav
		- var LogoStoreTxt 				= "lazio"
		- var LogoImgLink 				= "http://www.laziostylestore.com/en"
		- var Nav01 					= "115"
		- var NavLink01 				= "http://www.laziostylestore.com/en/115-years.html"
		- var Nav02 					= "MATCH KITS"
		- var NavLink01 				= "http://www.laziostylestore.com/en/match-kits.html"
		- var Nav03 					= "FASHION"
		- var NavLink02 				= "http://www.laziostylestore.com/en/fashion.html"
		- var Nav04 					= "ACCESSORIES"
		- var NavLink03 				= "http://www.laziostylestore.com/en/accessories.html"
		- var Nav05 					= "COVERS"
		- var NavLink04 				= "http://www.laziostylestore.com/en/covers.html"
		- var Nav06 					= "GIFT IDEAS"
		- var NavLink05 				= "http://www.laziostylestore.com/en/gift-ideas.html"
		- var Nav07 					= "CLEARANCE"
		- var NavLink05 				= "http://www.laziostylestore.com/en/clearance.html"
	//- end menu Nav



- var socialIconList = [{"socialName":"facebook","socialURL":"https://www.facebook.com/ACFFiorentina"},{"socialName":"twitter","socialURL":"https://twitter.com/acffiorentina"},{"socialName":"youTube","socialURL":"https://www.youtube.com/user/ViolaChannel"},{"socialName":"blog","socialURL":"http://www.solopx.com"},{"socialName":"instagram","socialURL":"https://instagram.com/acffiorentina/"},{"socialName":"flikr","socialURL":"https://www.flickr.com/photos/acffiorentina"},{"socialName":"gPlus","socialURL":"plus.gmail.com"}]