/* line 23, /Users/nicur/Documents/dev/git/responsive-email/dev/_v03/assets/css/colorGenerator.sass */
colorPrimaryLightenD {
  color: gray; }

/* line 25, /Users/nicur/Documents/dev/git/responsive-email/dev/_v03/assets/css/colorGenerator.sass */
colorPrimaryLightenC {
  color: #606060; }

/* line 27, /Users/nicur/Documents/dev/git/responsive-email/dev/_v03/assets/css/colorGenerator.sass */
colorPrimaryLightenB {
  color: #404040; }

/* line 29, /Users/nicur/Documents/dev/git/responsive-email/dev/_v03/assets/css/colorGenerator.sass */
colorPrimaryLightenA {
  color: #202020; }

/* line 31, /Users/nicur/Documents/dev/git/responsive-email/dev/_v03/assets/css/colorGenerator.sass */
colorPrimary {
  color: #000000; }

/* line 33, /Users/nicur/Documents/dev/git/responsive-email/dev/_v03/assets/css/colorGenerator.sass */
colorPrimaryDarkA {
  color: black; }

/* line 35, /Users/nicur/Documents/dev/git/responsive-email/dev/_v03/assets/css/colorGenerator.sass */
colorPrimaryDarkB {
  color: black; }

/* line 37, /Users/nicur/Documents/dev/git/responsive-email/dev/_v03/assets/css/colorGenerator.sass */
colorPrimaryDarkC {
  color: black; }

/* line 39, /Users/nicur/Documents/dev/git/responsive-email/dev/_v03/assets/css/colorGenerator.sass */
colorPrimaryDarkD {
  color: black; }
