<h1 id="heroimage-template">heroImage template</h1>
<h3 id="contains-3-elements-">contains 3 elements:</h3>
<ol>
<li>one big image</li>
</ol>
<p>Can be more than one if you make a copy and rename the file</p>
<ol>
<li>set the <em>trakingSource</em> inside the <strong>trakingSource</strong> variable</li>
<li>set the <em>heroImage</em>. Image format name is:<pre><code> **name_en.jpg** (you must put only the **&quot;name&quot;**)
 ex: if the image name is **promo_02_en.jpg**, you must put only **&quot;promo_02&quot;**
</code></pre></li>
<li>you must put the link for any language version inside <strong>linkCTA</strong> variable</li>
<li>the text from header is inside <strong>heroImageheader</strong> variable</li>
</ol>
