//- Primary / fluo
- var colorPrimaryLightD			= "#f0ffcc"
- var colorPrimaryLightC			= "#e1ff99"
- var colorPrimaryLightB			= "#d3ff66"
- var colorPrimaryLightA			= "#c4ff33"
- var colorPrimary				= "#b5ff00"
- var colorPrimaryDarkA			= "#91cc00"
- var colorPrimaryDarkB			= "#6d9900"
- var colorPrimaryDarkC			= "#486600"
- var colorPrimaryDarkD			= "#243300"
//- Secondary / petrol
- var colorSecondaryLightD			= "#39f0fb"
- var colorSecondaryLightC			= "#05e2f0"
- var colorSecondaryLightB			= "#03a7b1"
- var colorSecondaryLightA			= "#026c73"
- var colorSecondary				= "#013134"
- var colorSecondaryDarkA			= "#012a2c"
- var colorSecondaryDarkB			= "#012325"
- var colorSecondaryDarkC			= "#011c1d"
- var colorSecondaryDarkD			= "#001516"
//- Tertiary /
- var colorTertiaryLightD			= "#b1b1be"
- var colorTertiaryLightC			= "#8e8ea1"
- var colorTertiaryLightB			= "#6d6d82"
- var colorTertiaryLightA			= "#505060"
- var colorTertiary				= "#33333d"
- var colorTertiaryDarkA			= "#32323c"
- var colorTertiaryDarkB			= "#31313a"
- var colorTertiaryDarkC			= "#303039"
- var colorTertiaryDarkD			= "#2e2e37"
//- Fourth / red
- var colorFourthLightD			= "gray"
- var colorFourthLightC			= "#606060"
- var colorFourthLightB			= "#404040"
- var colorFourthLightA			= "#202020"
- var colorFourth				= "#000000"
- var colorFourthDarkA			= "black"
- var colorFourthDarkB				= "black"
- var colorFourthDarkC			= "black"
- var colorFourthDarkD			= "black"

//- Grey scale
- var colorWhiteD				= "#a1a1a1"
- var colorWhiteC				= "#b3b3b3"
- var colorWhiteB				= "#c7c7c7"
- var colorWhiteA				= "#dedede"
- var colorWhite				= "#ffffff"
- var colorGrey					= "#767676"
- var colorBlack				= "#000000"
- var colorBlackA				= "#191919"
- var colorBlackB				= "#303030"
- var colorBlackC				= "#444444"
- var colorBlackD				= "#565656"