- var font1		= "font-size: 1px; line-height: 2px;"
- var font2		= "font-size: 2px; line-height: 3px;"
- var font3		= "font-size: 3px; line-height: 4px;"
- var font4		= "font-size: 4px; line-height: 5px;"
- var font5		= "font-size: 5px; line-height: 6px;"
- var font6		= "font-size: 6px; line-height: 7px;"
- var font7		= "font-size: 7px; line-height: 9px;"
- var font8		= "font-size: 8px; line-height: 11px;"
- var font9		= "font-size: 9px; line-height: 12px;"
- var font10		= "font-size: 10px; line-height: 13px;"
- var font11		= "font-size: 11px; line-height: 14px;"
- var font12		= "font-size: 12px; line-height: 15px;"
- var font13		= "font-size: 13px; line-height: 16px;"
- var font14		= "font-size: 14px; line-height: 17px;"
- var font15		= "font-size: 15px; line-height: 18px;"
- var font16		= "font-size: 16px; line-height: 19px;"
- var font17		= "font-size: 17px; line-height: 20px;"
- var font18		= "font-size: 18px; line-height: 21px;"
- var font19		= "font-size: 19px; line-height: 22px;"
- var font20		= "font-size: 20px; line-height: 23px;"
- var font21		= "font-size: 21px; line-height: 24px;"
- var font22		= "font-size: 22px; line-height: 25px;"
- var font23		= "font-size: 23px; line-height: 26px;"
- var font24		= "font-size: 24px; line-height: 27px;"
- var font25		= "font-size: 25px; line-height: 28px;"
- var font26		= "font-size: 26px; line-height: 29px;"
- var font27		= "font-size: 27px; line-height: 30px;"
- var font28		= "font-size: 28px; line-height: 31px;"
- var font29		= "font-size: 29px; line-height: 32px;"
- var font30		= "font-size: 30px; line-height: 33px;"
- var font31		= "font-size: 31px; line-height: 34px;"
- var font32		= "font-size: 32px; line-height: 35px;"
- var font33		= "font-size: 33px; line-height: 36px;"
- var font34		= "font-size: 34px; line-height: 37px;"
- var font35		= "font-size: 35px; line-height: 38px;"
- var font36		= "font-size: 36px; line-height: 39px;"
- var font37		= "font-size: 37px; line-height: 40px;"
- var font38		= "font-size: 38px; line-height: 41px;"
- var font39		= "font-size: 39px; line-height: 42px;"
- var font40		= "font-size: 40px; line-height: 43px;"
- var font41		= "font-size: 41px; line-height: 44px;"
- var font42		= "font-size: 42px; line-height: 45px;"
- var font43		= "font-size: 43px; line-height: 46px;"
- var font44		= "font-size: 44px; line-height: 47px;"
- var font45		= "font-size: 45px; line-height: 48px;"
- var font46		= "font-size: 46px; line-height: 49px;"
- var font47		= "font-size: 47px; line-height: 50px;"
- var font48		= "font-size: 48px; line-height: 51px;"
- var font49		= "font-size: 49px; line-height: 52px;"
- var font50		= "font-size: 50px; line-height: 53px;"
- var font51		= "font-size: 51px; line-height: 54px;"
- var font52		= "font-size: 52px; line-height: 55px;"
- var font53		= "font-size: 53px; line-height: 56px;"
- var font54		= "font-size: 54px; line-height: 57px;"
- var font55		= "font-size: 55px; line-height: 58px;"
- var font56		= "font-size: 56px; line-height: 59px;"
- var font57		= "font-size: 57px; line-height: 60px;"
- var font58		= "font-size: 58px; line-height: 61px;"
- var font59		= "font-size: 59px; line-height: 62px;"
- var font60		= "font-size: 60px; line-height: 63px;"
- var font61		= "font-size: 61px; line-height: 64px;"
- var font62		= "font-size: 62px; line-height: 65px;"
- var font63		= "font-size: 63px; line-height: 66px;"
- var font64		= "font-size: 64px; line-height: 67px;"
- var font65		= "font-size: 65px; line-height: 68px;"
- var font66		= "font-size: 66px; line-height: 69px;"
- var font67		= "font-size: 67px; line-height: 70px;"
- var font68		= "font-size: 68px; line-height: 71px;"
- var font69		= "font-size: 69px; line-height: 72px;"
- var font70		= "font-size: 70px; line-height: 73px;"