- var sans = "font-family: Helvetica, Arial, sans-serif; font-style: normal;"
- var serif = "font-family: 'Times New Roman', Georgia, Serif; font-style: normal;"

- var sansItalic = "font-family: Helvetica, Arial, sans-serif; font-style: italic"
- var serifItalic = "font-family: 'Times New Roman', Georgia, Serif; font-style: italic"



- var normal = "font-weight: normal;"
- var bold = "font-weight: bold;"