extends ../../views/2prod

block 2prod_a
	- var template 						= "2prod_a"
	- var trakingSource = "xxx2Prod"
	if lang == "en"
		- var ctaCopy 					= "BUY NOW"
		if prod == "01"
			- var linkCTA 				= "http://www.firstore.it/en/fir-rwc-home-jersey-2015.html"
			- var imgProd				= "http://www.firstore.it/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/r/i/ri15001.jpg"
			- var titleProd				= "Fir Rwc Home Jersey 2015"
			- var priceProd 			= "85.00"
			- var oldPriceProd			= false
			- var idProd				= "ri15001"

		if prod == "02"
			- var linkCTA 				= "http://www.firstore.it/en/fir-performance-training-jersey.html"
			- var imgProd				= "http://www.firstore.it/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/r/i/ri15041.jpg"
			- var titleProd				= "Fir Performance Training Jersey"
			- var priceProd 			= "45.00"
			- var oldPriceProd			= false
			- var idProd				= "ri15041"

	if lang == "it"
		- var ctaCopy 					= "Acquista"
		if prod == "01"
			- var linkCTA 				= "http://www.firstore.it/it/fir-track-top-match-13-14.html"
			- var imgProd				= "http://www.firstore.it/media/catalog/product/cache/1/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/r/i/ri13142.jpg"
			- var titleProd				= "Fir Track Top Match 13/14"
			- var priceProd 			= "45,00"
			- var oldPriceProd			= "90,00"
			- var idProd				= "ri13142"

		if prod == "02"
			- var linkCTA 				= "http://www.firstore.it/it/fir-felpa-cappuccio-culture-16th-13-14.html"
			- var imgProd				= "http://www.firstore.it/media/catalog/product/cache/1/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/r/i/ri13141.jpg"
			- var titleProd				= "Fir Felpa Cappuccio Culture 16Th 13/14"
			- var priceProd 			= "38,00"
			- var oldPriceProd			= "76,00"
			- var idProd				= "ri13141"

	//- customize button variable optional
	block ctaOptions
		//- 01 = simple CTA (buy now or Acquista)
		//-	02 = CTA with price (buy at {priceProd} or Acquista a {priceProd})
		- var buttonType 	= "01"
		//- can be 160 max
		- var width			= "160px"
		- var height 		= "40px"
		- var arcsize 		= "5%"
		- var radiusSize 	= "3px"
		- var lineheight 	= "40px"
		- var align 		= "left"
		- var fontSize		= "font-size: 14px; line-height: 11px;"