extends ../../views/2prod

block 2prod_a
	include ../../config
	- var template 						= "2prod_a"

	if lang == "en"
		- var ctaCopy 					= "BUY NOW"
		if prod == "01"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-superfly-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15001.jpg"
			- var titleProd				= "NIKE mercurial superfly fg wolf grey/hyper punch"
			- var priceProd 			= "247,50"
			- var oldPriceProd			= "275,00"

		if prod == "02"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-vapor-x-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15002_2.jpg"
			- var titleProd				= "NIKE mercurial vapor x fg wolf grey/hyper punch"
			- var priceProd 			= "180,0"
			- var oldPriceProd			= "200,0"


	if lang == "it"
		- var ctaCopy 					= "Acquista"
		if prod == "01"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-superfly-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15001.jpg"
			- var titleProd				= "NIKE mercurial superfly fg wolf grey/hyper punch"
			- var priceProd 			= "247,50"
			- var oldPriceProd			= "275,00"

		if prod == "02"
			- var linkCTA 				= "http://www.football4u.it/it/nike-mercurial-vapor-x-fg-wolf-grey-hyper-punch.html"
			- var imgProd				= "http://ffaasstt.football4u.it/media/catalog/product/cache/1/small_image/370x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs15002_2.jpg"
			- var titleProd				= "NIKE mercurial vapor x fg wolf grey/hyper punch"
			- var priceProd 			= "180,00"
			- var oldPriceProd			= "200,00"


	//- customize button variable optional
	block ctaCustom
		//- 01 = simple CTA (buy now or Acquista)
		//- 02 = CTA with price (buy at {priceProd} or Acquista a {priceProd})
		- var buttonType 	= "02"
		- var bgColor		= "#b5ff00"
		- var txtColor		= "#33333d"
		//- can be 160 max
		- var width			= "160px"
		- var height 		= "36px"
		- var arcsize 		= "5%"
		- var radiusSize 	= "3px"
		- var lineheight 	= "30px"
		- var align 		= "left"
		- var fontSize		= "font-size: 14px; line-height: 11px;"