extends ../../views/2prod

block 2prod_a
	- var template 						= "2prod_a"

	if lang == "en"
		- var ctaCopy 					= "BUY NOW"
		if prod == "01"
			- var linkCTA 				= "http://www.laziostylestore.com/it/lazio-polo-ufficiale-celeste-2015-16.html"
			- var imgProd				= "https://lazio-dunebuggysrl.netdna-ssl.com/media/catalog/product/cache/1/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz15116.jpg"
			- var titleProd				= "Lazio Polo Ufficiale Celeste 2015/16"
			- var priceProd 			= "45,00"
			- var oldPriceProd			= "200"

		if prod == "02"
			- var linkCTA 				= "http://www.laziostylestore.com/it/lazio-polo-ufficiale-tabacco-2015-16.html"
			- var imgProd				= "https://lazio-dunebuggysrl.netdna-ssl.com/media/catalog/product/cache/1/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz15117.jpg"
			- var titleProd				= "Lazio Polo Ufficiale Tabacco 2015/16"
			- var priceProd 			= "45,00"
			- var oldPriceProd			= "200"




	if lang == "it"
		- var ctaCopy 					= "Acquista"
		if prod == "01"
			- var linkCTA 				= "http://www.laziostylestore.com/it/lazio-polo-ufficiale-celeste-2015-16.html"
			- var imgProd				= "https://lazio-dunebuggysrl.netdna-ssl.com/media/catalog/product/cache/1/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz15116.jpg"
			- var titleProd				= "Lazio Polo Ufficiale Celeste 2015/16"
			- var priceProd 			= "45,00"
			- var oldPriceProd			= "200"

		if prod == "02"
			- var linkCTA 				= "http://www.laziostylestore.com/it/lazio-polo-ufficiale-tabacco-2015-16.html"
			- var imgProd				= "https://lazio-dunebuggysrl.netdna-ssl.com/media/catalog/product/cache/1/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/l/z/lz15117.jpg"
			- var titleProd				= "Lazio Polo Ufficiale Tabacco 2015/16"
			- var priceProd 			= "45,00"
			- var oldPriceProd			= "200"

	//- customize button variable optional
	block ctaOptions
		//- 01 = simple CTA (buy now or Acquista)
		//-	02 = CTA with price (buy at {priceProd} or Acquista a {priceProd})
		- var buttonType 	= "02"
		//- can be 160 max
		- var width			= "160px"
		- var height 		= "40px"
		- var arcsize 		= "5%"
		- var radiusSize 	= "3px"
		- var lineheight 	= "40px"
		- var align 		= "left"
		- var fontSize		= "font-size: 14px; line-height: 11px;"