extends ../columns/twoColumnFull

block contentCol1_2
	tr
		td.col(valign="top" style="width:100%")
			img.image(src="http://placehold.it/600/334d67/ffffff&text=Prod+01/2" border="0" alt="The White Whale" width="100%" hspace="0" vspace="0" style="max-width:100%;")
			br
			br
			strong
				| Herman Melville
			br
			br
			| It's worse than being in the whirled woods, the last day of the year! Who'd go climbing after chestnuts now? But there they go, all cursing, and here I don't.
			br
			br

block contentCol2_2
	tr
		td.col(valign="top" style="width:100%")
			img.image(src="http://placehold.it/600/334d67/ffffff&text=Prod+02/2" border="0" alt="The White Whale" width="100%" hspace="0" vspace="0" style="max-width:100%;")
			br
			br
			strong
				| I am Ishmael
			br
			br
			| White squalls? white whale, shirr! shirr! Here have I heard all their chat just now, and the white whale—shirr! shirr!—but spoken of once! and…
			br
			br