extend views/index

block infoIndex
	include config/config

	//- option available: default, fiorentina
	- var site = "default"

	//- option available: it, en
	- var lang = "en"

	- var data = "11-8"

	if lang == "en"
		- var titleNewsletter = "title page"
		- var titlePrevueNewsletter = "prevue title page"

	if lang == "it"
		- var titleNewsletter = "titolo dalla pagina"
		- var titlePrevueNewsletter = "preview titolo dalla pagina"

block contentMail
	include views/header
	include views/nav
	include views/rowHeader
	include views/heroImage
	include views/rowHeader_01