block info

block oneCol
	// //////////////////////////////////////////////////////////////////
	// 1 column
	// //////////////////////////////////////////////////////////////////
	block contentCol1_1