
<!-- option available en, it-->
<!-- option available juve, f4u-->
<!-- used for tracking code-->
<!-- Universal Copy-->

<!-- Preheader template-->
<!-- header template-->
<!-- nav template-->
<!-- font-->
<append>
</append>
<tr>
  <td height="2" width="600" style="background-color: #fcc511;"></td>
</tr>
<tr>
  <td width="600" style="padding: 0px 0px 0px 20px; background-color: #ffffff;" class="main_nav">
    <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #ffffff;">
      <tr>
        <td align="center" style="padding: 15px 10px 15px 0px;"><a href="http://www.football4u.it/it/scarpe-calcio.html?ga_campaign=27-3it_header&amp;ga_medium=DEM&amp;ga_source=NL" style="color: #5a5a55; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;"><span style="color: #5a5a55; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;">
              <soan>SCARPE</soan></span></a></td>
        <td align="center" style="padding: 15px 10px 15px 0px;"><a href="http://www.football4u.it/it/abbigliamento.html?ga_campaign=27-3it_header&amp;ga_medium=DEM&amp;ga_source=NL" style="color: #5a5a55; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;"><span style="color: #5a5a55; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;">
              <soan>ABBIGLIAMENTO</soan></span></a></td>
        <td align="center" style="padding: 15px 10px 15px 0px;"><a href="http://www.football4u.it/it/accessori.html?ga_campaign=27-3it_header&amp;ga_medium=DEM&amp;ga_source=NL" style="color: #5a5a55; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;"><span style="color: #5a5a55; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;">
              <soan>ATTREZATURE</soan></span></a></td>
        <td align="center" style="padding: 15px 10px 15px 0px;"><a href="http://www.football4u.it/it/portiere.html?ga_campaign=27-3it_header&amp;ga_medium=DEM&amp;ga_source=NL" style="color: #5a5a55; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;"><span style="color: #5a5a55; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;">
              <soan>PORTIERE</soan></span></a></td>
        <td align="center" style="padding: 15px 10px 15px 0px;"><a href="http://www.football4u.it/it/teamsport.html?ga_campaign=27-3it_header&amp;ga_medium=DEM&amp;ga_source=NL" style="color: #5a5a55; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;"><span style="color: #5a5a55; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;">
              <soan>TEAMSPORT</soan></span></a></td>
        <td align="center" style="padding: 15px 20px 15px 20px; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif; background-color: #fcc511;"><a href="http://www.football4u.it/it/outlet.html?ga_campaign=27-3it_header&amp;ga_medium=DEM&amp;ga_source=NL" style="color: #1c1c1c; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;"><strong style="color: #1c1c1c; font-size: 11px; line-height: 11px; text-decoration: none; font-family: Helvetica, Arial, sans-serif;">OUTLET</strong></a></td>
      </tr>
    </table>
  </td>
</tr>