extend views/index

block config
	//- option available default, fiorentina, lazio, f4u
	- var site 				= "f4u"
	- var lang 				= "en"


	//- used for tracking code
	- var data = "27-3"

	//- Universal Copy
	if lang == "en"
		- var title 			= "f4u Samplte title dem en"
		- var previewCopy		= "Acquista la nuova maglia home 2015/16 - en"

	if lang == "it"
		- var title 			= "f4u Samplte title dem it"
		- var previewCopy		= "Acquista la nuova maglia home 2015/16 - it"

	//- image management
	if site == "f4u"
		- var imgLink = "images/f4u/"

	if site == "fiorentina"
		- var imgLink = "images/fiorentina/"

	if site == "lazio"
		- var imgLink = "images/lazio/"

	if site == "default"
		- var imgLink = "images/default/"

	include config

block contentMail
	include views/nav
	include include/f4u/heroImageHeader
	include include/f4u/singleCTA
	include include/f4u/heroImage
	include include/f4u/coupon
	include include/f4u/linkList
	include include/f4u/cowntDown
	include include/f4u/2prod
	include include/f4u/2banner_a
	include include/f4u/3prodA
	
	//-include include/f4u/3prodB
	include include/f4u/ourBrand

	//-include include/_footerLink
	//-include _3article_a