

<tr>
  <td align="left" bgcolor="#33333d" class="cols-wrapper column_full">
    <!-- [if mso]><table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#{colorSecondary}"><tr><td width="50%" valign="top"><![endif]-->
    <table width="300" border="0" cellpadding="0" cellspacing="0" align="left" bgcolor="#33333d" class="force-row">
      <tr>
        <td valign="top" style="width:100%" class="col">
          <table cellpadding="0" cellspacing="0" width="200" align="center">
            <tr>
              <td height="10px"></td>
            </tr>
            <tr>
              <td align="center" valign="top"><a href="undefined?ga_campaign=27-3undefined_header&amp;ga_medium=DEM&amp;ga_source=NL" height="50px"><img src="images/f4u/undefinedundefined" alt="undefined" style="display: block; border: 0; height: 50px !important;"/></a></td>
            </tr>
            <tr>
              <td height="10px"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- [if mso]></td><td width="50%" valign="top"><![endif]-->
    <table width="300" border="0" cellpadding="0" cellspacing="0" align="right" bgcolor="#33333d" class="force-row">
      <tr>
        <td valign="top" style="width:100%" class="col">
          <table cellpadding="0" cellspacing="0" width="200" align="center" valign="top">
            <tr>
              <td height="10px" colspan="10"></td>
            </tr>
            <tr>
              <td align="center" colspan="10"><span style="font-size: 11px; line-height: 11px; color: #ccccc2;"></span></td>
            </tr>
            <tr>
              <td height="10px" colspan="10"></td>
            </tr>
            <tr>
              <td align="center" width="40px" valign="top"><a href="https://www.facebook.com/Football4U.it?ga_campaign=27-3undefined_header&amp;ga_medium=DEM&amp;ga_source=NL"><img src="images/f4u/facebook.jpg" alt="facebook - football4u" style="display: block; border: 0; height: auto !important;"/></a></td>
              <td align="center" width="40px" valign="top"><a href="https://www.youtube.com/channel/UCzqG3NzsJtmTa4qJ54ssUEg/?ga_campaign=27-3undefined_header&amp;ga_medium=DEM&amp;ga_source=NL"><img src="images/f4u/youtube.jpg" alt="youtube - football4u" style="display: block; border: 0; height: auto !important;"/></a></td>
              <td align="center" width="40px" valign="top"><a href="https://plus.google.com/+Football4uItF4U/?ga_campaign=27-3undefined_header&amp;ga_medium=DEM&amp;ga_source=NL"><img src="images/f4u/gPlus.jpg" alt="gooogle Plus - football4u" style="display: block; border: 0; height: auto !important;"/></a></td>
              <td align="center" width="40px" valign="top"><a href="https://instagram.com/football4uofficial/?ga_campaign=27-3undefined_header&amp;ga_medium=DEM&amp;ga_source=NL"><img src="images/f4u/instagram.jpg" alt="instagram - football4u" style="display: block; border: 0; height: auto !important;"/></a></td>
              <td align="center" width="40px" valign="top"><a href="http://blog.football4u.it/?ga_campaign=27-3undefined_header&amp;ga_medium=DEM&amp;ga_source=NL"><img src="images/f4u/blog.jpg" alt="blog - football4u" style="display: block; border: 0; height: auto !important;"/></a></td>
            </tr>
            <tr>
              <td height="10px" colspan="10"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!-- [if mso]></td></tr></table><![endif]-->
  </td>
</tr>