
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="undefined">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="assets/css/myStyle.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/style_col.css"/>
    <title></title>
  </head>
  <body style="margin:0; padding:0;" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" bgcolor="#e8e8e8">
    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#ae9a63">
      <tr>
        <td>
          
          <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
            <!--p #{fontColor}, #{linkColor}, #{bgcolor}-->
            
            <tr>
              <td align="left" width="20px"></td>
              <td align="left" valign="middle" height="40px"><small style="font-size: 10px; line-height: 14px; font-family: Helvetica, Arial, sans-serif; color:#e4d7b4;"></small></td>
              <td align="right" valign="middle" height="40px"><small style="font-size: 10px; line-height: 14px; font-family: Helvetica, Arial, sans-serif; color:#e4d7b4;"> 
                  <nobr><a href="undefined?ga_campaign=27-3undefined_header&amp;ga_medium=DEM&amp;ga_source=NL" style="text-decoration: none; color:#ffffff;" target="_blank"><span style="text-decoration: none; color:#ffffff;"></span></a></nobr></small></td>
              <td align="left" width="20px"></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td align="center" valign="top" bgcolor="#e8e8e8"><br/>
          <table border="0" width="600" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="container">
          </table>
        </td>
      </tr>
      
      <tr>
        <td align="center" valign="top" bgcolor="#e8e8e8">
          <table border="0" width="600" cellpadding="0" cellspacing="0" class="container">
            <tr>
              <td align="left" style="font-size: 10px; line-height: 14px; font-family: Helvetica, Arial, sans-serif; color: #5a5a55;" class="container-padding footer-text"><br/><br/>Sample Footer text: © 2014 Acme, Inc.<br/><br/>You are receiving this email because you opted in on our website. Update your <a href="#" style="color:#ae9a63; text-decoration: none;"><span style="color:#ae9a63; text-decoration: none;">email preferences </span></a>or <a href="#" style="color:#ae9a63; text-decoration: none;"><span style="color:#ae9a63; text-decoration: none;">unsubscribe</span></a>.<br/><br/><strong>Acme, Inc.<br/></strong><span class="ios-footer">
                  123 Main St.<br>
                  Springfield, MA 12345<br></span><a href="http://www.acme-inc.com" style="color:#ae9a63; text-decoration: none;"><span style="color:#ae9a63; text-decoration: none;">www.acme-inc.com<br></span></a><br/><br/></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>