extend ../../template/coupon


block info
	- var product 						= false
	if lang == "en"

		- var couponCopyRow01 			= "Use this COUPON to get 20% discount on any product:"
		- var coupon 					= "#PROUDofJU"
		- var couponCopyRow02 			= "PROMOTION AVAILABLE UNTIL MIDNIGHT OF 23.04.2015"

	if lang == "it"

		- var couponCopyRow01 			= "Use this COUPON to get 20% discount on any product:"
		- var coupon 					= "#PROUDofJU"
		- var couponCopyRow02 			= "PROMOTION AVAILABLE UNTIL MIDNIGHT OF 23.04.2015"


	- var trakingSource					= "_Hero1&ga_medium=DEM&ga_source=NL"

