extend ../../template/linkList
block infoLinkList
	- var product 						= false
	- var trakingSource 				= "xxxLinkList"
	if lang == "en"
		//- size template
		- var optionRow = "3"
		- var optionRowCopy = "Scegli il tuo numero - en"
		- var optionLinks01 = [{"itemName":"12,5C US / 11,5K UK","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=447"},{"itemName":"33 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=356"},{"itemName":"37 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=409"},{"itemName":"39 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=350"},{"itemName":"46,5 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=459"},{"itemName":"35 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=301"},{"itemName":"37,5 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=295"}]
		- var optionLinks02 = [{"itemName":"38 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=302"},{"itemName":"40 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=278"},{"itemName":"40,5 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=276"},{"itemName":"41 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=353"},{"itemName":"41,5 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=279"},{"itemName":"42 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=277"},{"itemName":"42,5 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=283"}]
		- var optionLinks03 = [{"itemName":"43 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=280"},{"itemName":"44 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=275"},{"itemName":"44,5 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=281"},{"itemName":"45 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=282"},{"itemName":"45,5 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=303"},{"itemName":"46 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=294"},{"itemName":"47 EU","url":"http://www.football4u.it/en/clearance/men-s-football-boots.html?epi_size=436"}]

		//- price template
			- var optionRow = "1"
			- var optionRowCopy = "Scegli la fascia di prezzo - en"
			- var optionLinks01 = [{"itemName":"5 - 15 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=350&limit=all"},{"itemName":"15 - 25 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=412&limit=all"},{"itemName":"25 - 50 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"},{"itemName":"oltre 50 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"}]

	if lang == "it"

		//- size template
		- var optionRow = "3"
		- var optionRowCopy = "Scegli il tuo numero - it"
		- var optionLinks01 = [{"itemName":"30","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=447"},{"itemName":"33","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=356"},{"itemName":"37","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=409"},{"itemName":"39","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=350"},{"itemName":"46,5","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=459"},{"itemName":"35","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=301"},{"itemName":"37,5","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=295"}]
		- var optionLinks02 = [{"itemName":"38","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=302"},{"itemName":"40","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=278"},{"itemName":"40,5","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=276"},{"itemName":"41","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=353"},{"itemName":"41,5","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=279"},{"itemName":"42","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=277"},{"itemName":"42,5","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=283"}]
		- var optionLinks03 = [{"itemName":"43","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=280"},{"itemName":"44","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=275"},{"itemName":"44,5","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=281"},{"itemName":"45","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=282"},{"itemName":"45,5","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=303"},{"itemName":"46","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=294"},{"itemName":"47","url":"http://www.football4u.it/it/outlet/scarpe-calcio-adulto.html?epi_size=436"}]

		//- price template
			- var optionRow = "1"
			- var optionRowCopy = "Scegli la fascia di prezzo - it"
			- var optionLinks01 = [{"itemName":"5 - 15 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=350&limit=all"},{"itemName":"15 - 25 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=412&limit=all"},{"itemName":"25 - 50 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"},{"itemName":"oltre 50 EUR","url":"http://www.football4u.it/it/scarpe-calcio/uomo.html?epi_size=459&limit=all"}]

