extends ../../template/ourBrand
block info
	include ../../config
	- var product 						= false
	- var brandRow 						= "2"
	- var widthImageBrand 				= 60
	if lang == "en"
		- var brandRowCopy = "OUR BRAND"
		- var brandLinks01 = [{"brandName":"nike","brandImage": "nike.gif", "brandURL":"http://www.football4u.it/en/football-boots/men-s/nike.html"},{"brandName":"adidas","brandImage": "adidas.gif", "brandURL":"http://www.football4u.it/en/adidas.html"},{"brandName":"puma","brandImage": "puma.gif", "brandURL":"http://www.football4u.it/en/football-boots/men-s/puma.html"},{"brandName":"mizuno","brandImage": "mizuno.gif", "brandURL":"http://www.football4u.it/en/football-boots/men-s/mizuno.html"}]
		- var brandLinks02 = [{"brandName":"joma","brandImage": "joma.gif", "brandURL":"http://www.football4u.it/en/football-boots/men-s/joma.html"},{"brandName":"uhl","brandImage": "uhl.gif", "brandURL":"http://www.football4u.it/en/portiere/guanti-portiere/uhlsport.html"},{"brandName":"asics","brandImage": "asics.gif", "brandURL":"http://www.football4u.it/en/football-boots/men-s/asics.html"},{"brandName":"reusch","brandImage": "reusch.gif", "brandURL":"http://www.football4u.it/en/portiere/guanti-portiere/reusch.html"},{"brandName":"lotto","brandImage": "lotto.gif", "brandURL":"http://www.football4u.it/en/football-boots/men-s/lotto.html"}]

	if lang == "it"
		- var brandRowCopy = "I nostri marchi"
		- var brandLinks01 = [{"brandName":"nike","brandImage": "nike.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo/nike.html"},{"brandName":"adidas","brandImage": "adidas.gif", "brandURL":"http://www.football4u.it/it/adidas.html"},{"brandName":"puma","brandImage": "puma.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo/puma.html"},{"brandName":"mizuno","brandImage": "mizuno.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo/mizuno.html"}]
		- var brandLinks02 = [{"brandName":"joma","brandImage": "joma.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo/joma.html"},{"brandName":"uhl","brandImage": "uhl.gif", "brandURL":"http://www.football4u.it/it/portiere/guanti-portiere/uhlsport.html"},{"brandName":"asics","brandImage": "asics.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo/asics.html"},{"brandName":"reusch","brandImage": "reusch.gif", "brandURL":"http://www.football4u.it/it/portiere/guanti-portiere/reusch.html"},{"brandName":"lotto","brandImage": "lotto.gif", "brandURL":"http://www.football4u.it/it/scarpe-calcio/uomo/lotto.html"}]

	- var trakingSource 	= "_brand"