- var production = false

include pathfiles
include content

//- TRAKING
- var sufixTraking 			= "&ga_medium=DEM&ga_source=NL"
- var prefixTraking			= "?ga_campaign="


//- TYPOGRAPHY

//- font
- var fontSans 				= "font-family: Helvetica, Arial, sans-serif;"
- var fontSerif 			= "font-family: Georgia, sans-serif;"

//- fiont size
- var fontXXS				= "font-size: 8px; line-height: 10px;"
- var fontXS				= "font-size: 10px; line-height: 14px;"
- var fontS					= "font-size: 11px; line-height: 11px;"
- var fontM					= "font-size: 13px; line-height: 20px;"
- var fontL					= "font-size: 16px; line-height: 20px;"
- var fontXL				= "font-size: 20px; line-height: 22px;"
- var fontXXL				= "font-size: 28px; line-height: 30px;"
- var fontXXXL				= "font-size: 34px; line-height: 30px;"

//- font decoration
- var decNone 				= "text-decoration: none;"
- var decThrough 			= "text-decoration: line-through;"
- var left 					= "text-align: left;"
- var right 				= "text-align: right;"
- var center 				= "text-align: center;"
- var normal 				= "font-weight: normal;"
- var bold 					= "font-weight: bold;"
- var italic 				= "font-style: italic;"