- var production = false

include pathfiles
include content

//- TRAKING
- var sufixTraking 			= "&ga_medium=DEM&ga_source=NL"
- var prefixTraking			= "?ga_campaign="


//- TYPOGRAPHY

//- font
- var fontSans 				= "font-family: Helvetica, Arial, sans-serif;"
- var fontSerif 			= "font-family: Georgia, sans-serif;"

//- fiont size
- var fontXXS				= "font-size: 8px; line-height: 10px;"
- var fontXS				= "font-size: 10px; line-height: 14px;"
- var fontS					= "font-size: 11px; line-height: 11px;"
- var fontM					= "font-size: 13px; line-height: 20px;"
- var fontL					= "font-size: 16px; line-height: 20px;"
- var fontXL				= "font-size: 20px; line-height: 22px;"
- var fontXXL				= "font-size: 28px; line-height: 30px;"
- var fontXXXL				= "font-size: 34px; line-height: 30px;"

- var font35				= "font-size: 35px; line-height: 32px;"
- var font36				= "font-size: 36px; line-height: 33px;"
- var font37				= "font-size: 37px; line-height: 34px;"
- var font38				= "font-size: 38px; line-height: 34px;"
- var font39				= "font-size: 39px; line-height: 36px;"
- var font40				= "font-size: 40px; line-height: 37px;"
- var font41				= "font-size: 41px; line-height: 38px;"
- var font42				= "font-size: 42px; line-height: 39px;"
- var font43				= "font-size: 43px; line-height: 40px;"
- var font44				= "font-size: 44px; line-height: 41px;"
- var font45				= "font-size: 45px; line-height: 42px;"
- var font46				= "font-size: 46px; line-height: 43px;"
- var font47				= "font-size: 47px; line-height: 44px;"
- var font48				= "font-size: 48px; line-height: 45px;"
- var font49				= "font-size: 49px; line-height: 46px;"
- var font50				= "font-size: 50px; line-height: 47px;"
- var font51				= "font-size: 51px; line-height: 48px;"
- var font52				= "font-size: 52px; line-height: 49px;"
- var font53				= "font-size: 53px; line-height: 50px;"





//- font decoration
- var decNone 				= "text-decoration: none;"
- var decThrough 			= "text-decoration: line-through;"
- var left 					= "text-align: left;"
- var right 				= "text-align: right;"
- var center 				= "text-align: center;"
- var normal 				= "font-weight: normal;"
- var bold 					= "font-weight: bold;"
- var italic 				= "font-style: italic;"