//- path to file

//- IMAGES
if site == "default"
	//- viewImagesPath are images inside view files witch need to stay on server
	- var viewImagesPath = "assets/images/default/server/"

	//- templateImagesPath are images specificaly for newsltter content
	- var templateImagesPath = "assets/images/default/"

if site == "fiorentina"
	//- viewImagesPath are images inside view files witch need to stay on server
	- var viewImagesPath = "assets/images/fiorentina/server/"

	//- templateImagesPath are images specificaly for newsltter content
	- var templateImagesPath = "assets/images/fiorentina/"