/* line 15, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.wraperCollor {
  color: #cccccc; }

/* line 18, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.wraper {
  background-color: #ffffff; }

/* line 25, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
a.header, .header, .title, .subtitle, .footer-text {
  font-family: Helvetica, Arial, sans-serif; }

/* line 28, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
  color: black; }

/* line 34, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.footer-text {
  font-size: 12px;
  line-height: 16px;
  color: black; }
  /* line 38, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
  .footer-text a {
    color: black; }

/* line 42, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.container {
  width: 600px;
  max-width: 600px; }

/* line 46, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.containerFooter {
  background-color: #ffffff; }

/* line 49, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.container-padding {
  padding-left: 24px;
  padding-right: 24px; }

/* line 53, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.content {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #cccccc; }

/* line 58, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.content-wrapper {
  padding-left: 24px;
  padding-right: 24px; }

/* line 63, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.col {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: black;
  width: 100%; }

/* line 72, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.col, .cols-wrapper {
  padding-left: 12px;
  padding-right: 12px; }

/* line 76, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.col {
  padding-top: 18px;
  padding-bottom: 12px; }

/* line 81, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.col-copy {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  color: black;
  margin-top: 12px; }

/* line 90, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
code {
  background-color: #eee;
  padding: 0 4px;
  font-family: Menlo, Courier, monospace;
  font-size: 12px; }

/* line 96, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
hr, .hr {
  border: 0;
  border-bottom: 1px solid black; }

/* line 100, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.title {
  font-size: 18px;
  font-weight: 600;
  color: black; }

/* line 105, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.subtitle {
  margin-top: 18px;
  font-size: 18px;
  font-weight: bold; }

/* line 110, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.subtitle span {
  font-weight: 400;
  color: black; }

/* line 114, /Users/nicur/Dropbox/project/bkpEPI/antwort-master/v02 - antwort/assets/sass/customStyle.sass */
.body-text {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: black;
  font-family: Helvetica, Arial, sans-serif; }
/*# sourceMappingURL=customStyle.css.map */